# O que é Spark?

Apache Spark é uma plataforma de computação em cluster de código aberto, projetada para processamento de dados em larga escala. Desenvolvido originalmente na Universidade da Califórnia em Berkeley, o Spark foi projetado para ser rápido e eficiente em operações de análise de dados e processamento de grandes volumes de dados. Ele se destaca em tarefas que exigem processamento de dados em tempo real ou análise interativa de grandes conjuntos de dados.

O Spark vem com vários componentes integrados que estendem suas capacidades:

* **Spark SQL** para processamento de dados estruturados via SQL e DataFrames.
* **Spark Streaming** para análise e processamento de dados em tempo real.
* **MLlib** para aprendizado de máquina.
* **GraphX** para processamento de grafos.


![image001.png]()

# Arquitetura do Spark

**A arquitetura de uma aplicação Spark é constituída por três partes principais:**

* O **Driver Program**, que é a aplicação principal que gerencia a criação e é quem executará o processamento definido pelo programados;
* O **Cluster Manager** é um componente opcional que só é necessário se o Spark for executado de forma distribuída. Ele é responsável por administrar as máquinas que serão utilizadas como workers;
* Os **Workers** , que são as máquinas que realmente executarão as tarefas que são enviadas pelo Driver Program. Se o Spark for executado de forma local, a máquina desempenhará tanto o papel de Driver Program como de Worker.

![image.png]()

Existem três conceitos fundamentais que serão utilizados em todas as aplicações desenvolvidas:

* **Resilient Distributed Datasets (RDD)**: abstraem um conjunto de objetos distribuídos no cluster, geralmente executados na memória principal. Estes podem estar armazenados em sistemas de arquivo tradicional, no HDFS (HadoopDistributed File System) e em alguns Banco de Dados NoSQL, como Cassandra e HBase. Ele é o objeto principal do modelo de programação do Spark, pois são nesses objetos que serão executados os processamentos dos dados.
* **Operações**: representam transformações (como agrupamentos, filtros e mapeamentos entre os dados) ou ações (como contagens e persistências) que são realizados em um RDD. Um programa Spark normalmente é definido como uma sequência de transformações ou ações que são realizadas em um conjunto de dados.
* **Spark Context**: o contexto é o objeto que conecta o Spark ao programa que está sendo desenvolvido. Ele pode ser acessado como uma variável em um programa que para utilizar os seus recursos.

![image.png]()

# E o PySpark?

O PySpark é a interface do Apache Spark para a linguagem de programação Python. Ele combina a simplicidade e a popularidade do Python com a poderosa capacidade de processamento de dados do Spark, tornando-se uma ferramenta muito útil para cientistas de dados, engenheiros de dados, e desenvolvedores que precisam processar grandes volumes de dados de forma eficiente.

**APIs de Alto Nível**: PySpark fornece APIs de alto nível para DataFrames e DataSets, que permitem realizar operações complexas de maneira simples e concisa. Estas APIs são projetadas para construir pipelines de processamento de dados de forma eficiente e com menos código.

**É adequado para datasets que excedem a memória de uma única máquina.**

![image.png]()

# Referencias

*   [Apache Spark Fundamentals](https://medium.com/@lavishj77/spark-fundamentals-part-2-a2d1a78eff73)
*   [Introdução ao Apache Spark](https://www.devmedia.com.br/introducao-ao-apache-spark/34178)
*   [Resilient Distributed Dataset (RDD)](https://www.databricks.com/glossary/what-is-rdd)
*   [O que é Apache Spark?](https://cloud.google.com/learn/what-is-apache-spark?hl=pt-br)
*   [PySpark vs Pandas: Performance, Memory Consumption and Use Cases](https://www.codeconquest.com/blog/pyspark-vs-pandas-performance-memory-consumption-and-use-cases/)
*   [Benchmarking Apache Spark on a Single Node Machine
](https://www.databricks.com/blog/2018/05/03/benchmarking-apache-spark-on-a-single-node-machine.html)
*   [Benchmarking Pandas VS Spark](https://hirazone.medium.com/benchmarking-pandas-vs-spark-7f7166984de2)
*   [Quickstart: DataFrame](https://spark.apache.org/docs/latest/api/python/getting_started/quickstart_df.html)

## **Configuração do ambiente**

In [ ]:
# Instalação do pyspark e findspark
!pip install pyspark
!pip install findspark

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 3.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488491 sha256=78843b141865fd54b93411ab959f1d9f5507ce3a8bfa8270530155d192b76d3e
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1
Collecting findspark
  Downloading findspark-2.0.1-py2.py3-none-any.whl (4.4 kB)
Installing collected packages: findspark
Successfully installed findspark-2.0.1

In [ ]:
# Importa o findspark e inicializa a sessão Spark
import findspark
findspark.init()

# Importa os módulos necessários do PySpark
from pyspark.sql import SparkSession

# Configuração da sessão Spark
spark = SparkSession.builder \
    .appName("intro_pyspark") \
    .master("local[*]") \
    .getOrCreate()

# Verifica se a sessão Spark foi configurada corretamente
spark

In [ ]:
# Carregar o arquivo CSV
%time
df = spark.read.csv('/content/data_big.csv', header=True, inferSchema=True)

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 5.96 µs

## **Visualização do dataframe**

In [ ]:
%time
from pyspark.sql.functions import desc

# Exibir os últimos registros do DataFrame
df.tail(5)

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 10 µs

[Row(Code=8768, Net Salary=6521.32, Gross Salary=7828.27, Occupation='Archivist', City='Vanessamouth', First Name='Matthew', Last Name='Anderson', Credit Score=384, Gender='Non-Binary', Age=23, Account Balance=43494.76, Number of Accounts=3, Number of Products=1, Loan='Yes', Investment=None, Credit Card Limit=7041.89, Start Date=datetime.date(2016, 10, 29), End Date=None),
 Row(Code=6432, Net Salary=4549.63, Gross Salary=6473.61, Occupation='Police officer', City='East Albert', First Name='Christina', Last Name='Santiago', Credit Score=574, Gender='Male', Age=45, Account Balance=9857.24, Number of Accounts=4, Number of Products=1, Loan='No', Investment='Yes', Credit Card Limit=3989.85, Start Date=datetime.date(2020, 1, 22), End Date=None),
 Row(Code=8940, Net Salary=9383.46, Gross Salary=11563.89, Occupation='Art gallery manager', City='Turnerfurt', First Name='Cynthia', Last Name='Buckley', Credit Score=420, Gender='Female', Age=63, Account Balance=96893.93, Number of Accounts=2, Number of Products=5, Loan=None, Investment='Yes', Credit Card Limit=5241.3, Start Date=datetime.date(2019, 8, 25), End Date=None),
 Row(Code=5422, Net Salary=8545.28, Gross Salary=10417.73, Occupation='Investment banker, operational', City='Port Wendyside', First Name='Michael', Last Name='Mitchell', Credit Score=585, Gender='Male', Age=73, Account Balance=24647.55, Number of Accounts=3, Number of Products=2, Loan='No', Investment='Yes', Credit Card Limit=5791.38, Start Date=datetime.date(2018, 12, 16), End Date=None),
 Row(Code=4589, Net Salary=8621.96, Gross Salary=12201.61, Occupation='General practice doctor', City='Haleyfurt', First Name='Calvin', Last Name='Contreras', Credit Score=415, Gender='Non-Binary', Age=54, Account Balance=96488.19, Number of Accounts=3, Number of Products=2, Loan='No', Investment='Yes', Credit Card Limit=611.67, Start Date=datetime.date(2017, 11, 29), End Date=None)]

In [ ]:
%time

# Exibir os primeiros registros do DataFrame
#df.tail(1).toPandas()
df.head()

CPU times: user 5 µs, sys: 1 µs, total: 6 µs
Wall time: 10 µs

Row(Code=7144, Net Salary=7891.33, Gross Salary=10255.14, Occupation='Lawyer', City='Reedfort', First Name='Kurt', Last Name='Huang', Credit Score=694, Gender='Male', Age=32, Account Balance=52481.75, Number of Accounts=5, Number of Products=10, Loan=None, Investment='Yes', Credit Card Limit=1844.6, Start Date=datetime.date(2020, 4, 24), End Date=None)

In [ ]:
%time
## head()
df.show()

CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 7.63 µs
+----+----------+------------+--------------------+------------------+----------+-----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|Code|Net Salary|Gross Salary|          Occupation|              City|First Name|  Last Name|Credit Score|    Gender|Age|Account Balance|Number of Accounts|Number of Products|Loan|Investment|Credit Card Limit|Start Date|  End Date|
+----+----------+------------+--------------------+------------------+----------+-----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|7144|   7891.33|    10255.14|              Lawyer|          Reedfort|      Kurt|      Huang|         694|      Male| 32|       52481.75|                 5|                10|NULL|       Yes|           1844.6|2020-04-24|      NULL|
|6596|   3632.26|     4079.33| Automotive engineer|      Lake Bridget|      Lisa|Blankenship|         440|Non-Binary| 49|       32122.49|                 5|                 3|NULL|        No|          1083.45|2021-06-23|2023-02-07|
|7120|   9984.93|    14058.83|   Systems developer|   East Davidmouth|    Amanda|      Rojas|         482|      Male| 24|       27343.12|                 4|                 8| Yes|        No|          6314.58|2020-01-22|      NULL|
|5816|   6905.21|     9115.37|Research officer,...|      East Michael|  Kimberly|    Bennett|         323|    Female| 54|       50154.69|                 5|                 5|NULL|      NULL|          2300.09|2018-07-20|      NULL|
|4984|   8142.29|     10837.0|             Curator|     Alisonchester|     Roger|      Haley|         398|    Female| 22|       89224.62|                 1|                 5|NULL|       Yes|          5149.37|2019-09-27|      NULL|
|3477|   6457.93|     8596.56|       Site engineer|      Veronicaberg|   Michele|     Massey|         356|    Female| 54|       93938.59|                 5|                 1|  No|      NULL|          9673.54|2020-12-26|2021-06-07|
|3454|   2066.27|     2449.17|Chartered legal e...|          Nealbury|    Teresa|      Moore|         610|Non-Binary| 57|       86671.28|                 1|                 8|  No|      NULL|          6946.54|2021-04-04|2022-08-06|
|5543|   5923.38|     7184.64|Chief Operating O...|  New Lorraineberg|     Lacey|     Vargas|         758|      Male| 27|       70675.47|                 4|                 6|NULL|      NULL|          7243.11|2021-11-08|      NULL|
|4614|   3055.84|     3710.17|Chief Operating O...|   South Lauraport|    Rodney|    Jackson|         789|      Male| 30|       70487.31|                 3|                 9| Yes|        No|          3457.29|2015-06-10|2020-10-30|
|2602|    6688.5|     9423.67|        Tour manager|        Jonesshire|     April|   Cisneros|         517|    Female| 45|       86634.23|                 3|                 3|NULL|      NULL|          6898.68|2022-08-20|2022-08-23|
|3908|    4382.2|     6249.17|Agricultural engi...|    New Aaronshire|   Kristen|        Cox|         456|    Female| 49|       21304.41|                 4|                 6|  No|      NULL|           625.13|2015-09-26|      NULL|
|7519|   5721.01|     6510.69| Animal technologist|         Masonview|    Hannah|       Carr|         499|Non-Binary| 33|       87873.68|                 4|                 6|NULL|      NULL|          9015.89|2015-11-19|2023-11-27|
|7690|    8008.5|    10317.23|   Buyer, industrial|       Jacksonview|   Gregory|   Anderson|         781|    Female| 61|       52182.09|                 1|                 9| Yes|      NULL|           5977.4|2017-12-10|      NULL|
|9141|    4851.3|     6291.01|Accountant, chart...|       East Robert|   Stephen|      Dixon|         796|      Male| 44|         2726.8|                 5|                 1| Yes|        No|          5580.01|2015-03-05|      NULL|
|5191|   8612.57|     9972.14|      Hydrogeologist|West Jenniferburgh|     David|      Crane|         588|    Female| 68|        7771.48|                 5|                 5| Yes|        No|          2850.54|2020-10-25|      NULL|
|2130|   9370.88|    12386.67|           Archivist|        Smithburgh|    Joseph|       Reed|         720|Non-Binary| 62|       65557.46|                 1|                 3| Yes|        No|          2520.86|2015-07-07|      NULL|
|5825|   3908.33|     5498.91|Historic building...| Lake Jonathanstad|     Kevin| Williamson|         650|    Female| 68|       95845.02|                 5|                 7| Yes|        No|          2858.87|2020-01-30|      NULL|
|1668|   9029.44|     10653.6|       Acupuncturist|       Sandramouth|  Brittany|      Terry|         799|      Male| 64|       84321.44|                 4|                 6|  No|      NULL|          3036.32|2019-01-05|      NULL|
|2031|   8691.82|     9901.62|     Theatre manager|        Traceyport|   Madison|     Bryant|         800|      Male| 34|       58110.13|                 5|                 2|  No|      NULL|          7696.55|2020-04-06|      NULL|
|2238|   4470.88|      5612.8|Doctor, general p...|     North Heather|   Zachary|      Patel|         629|    Female| 64|       39241.48|                 3|                 8|NULL|        No|          9224.84|2019-03-08|      NULL|
+----+----------+------------+--------------------+------------------+----------+-----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
only showing top 20 rows

In [ ]:
%time
#visualização vertical das colunas
df.show(vertical=True)

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 7.87 µs
-RECORD 0----------------------------------
 Code               | 7144
 Net Salary         | 7891.33
 Gross Salary       | 10255.14
 Occupation         | Lawyer
 City               | Reedfort
 First Name         | Kurt
 Last Name          | Huang
 Credit Score       | 694
 Gender             | Male
 Age                | 32
 Account Balance    | 52481.75
 Number of Accounts | 5
 Number of Products | 10
 Loan               | NULL
 Investment         | Yes
 Credit Card Limit  | 1844.6
 Start Date         | 2020-04-24
 End Date           | NULL
-RECORD 1----------------------------------
 Code               | 6596
 Net Salary         | 3632.26
 Gross Salary       | 4079.33
 Occupation         | Automotive engineer
 City               | Lake Bridget
 First Name         | Lisa
 Last Name          | Blankenship
 Credit Score       | 440
 Gender             | Non-Binary
 Age                | 49
 Account Balance    | 32122.49
 Number of Accounts | 5
 Number of Products | 3
 Loan               | NULL
 Investment         | No
 Credit Card Limit  | 1083.45
 Start Date         | 2021-06-23
 End Date           | 2023-02-07
-RECORD 2----------------------------------
 Code               | 7120
 Net Salary         | 9984.93
 Gross Salary       | 14058.83
 Occupation         | Systems developer
 City               | East Davidmouth
 First Name         | Amanda
 Last Name          | Rojas
 Credit Score       | 482
 Gender             | Male
 Age                | 24
 Account Balance    | 27343.12
 Number of Accounts | 4
 Number of Products | 8
 Loan               | Yes
 Investment         | No
 Credit Card Limit  | 6314.58
 Start Date         | 2020-01-22
 End Date           | NULL
-RECORD 3----------------------------------
 Code               | 5816
 Net Salary         | 6905.21
 Gross Salary       | 9115.37
 Occupation         | Research officer,...
 City               | East Michael
 First Name         | Kimberly
 Last Name          | Bennett
 Credit Score       | 323
 Gender             | Female
 Age                | 54
 Account Balance    | 50154.69
 Number of Accounts | 5
 Number of Products | 5
 Loan               | NULL
 Investment         | NULL
 Credit Card Limit  | 2300.09
 Start Date         | 2018-07-20
 End Date           | NULL
-RECORD 4----------------------------------
 Code               | 4984
 Net Salary         | 8142.29
 Gross Salary       | 10837.0
 Occupation         | Curator
 City               | Alisonchester
 First Name         | Roger
 Last Name          | Haley
 Credit Score       | 398
 Gender             | Female
 Age                | 22
 Account Balance    | 89224.62
 Number of Accounts | 1
 Number of Products | 5
 Loan               | NULL
 Investment         | Yes
 Credit Card Limit  | 5149.37
 Start Date         | 2019-09-27
 End Date           | NULL
-RECORD 5----------------------------------
 Code               | 3477
 Net Salary         | 6457.93
 Gross Salary       | 8596.56
 Occupation         | Site engineer
 City               | Veronicaberg
 First Name         | Michele
 Last Name          | Massey
 Credit Score       | 356
 Gender             | Female
 Age                | 54
 Account Balance    | 93938.59
 Number of Accounts | 5
 Number of Products | 1
 Loan               | No
 Investment         | NULL
 Credit Card Limit  | 9673.54
 Start Date         | 2020-12-26
 End Date           | 2021-06-07
-RECORD 6----------------------------------
 Code               | 3454
 Net Salary         | 2066.27
 Gross Salary       | 2449.17
 Occupation         | Chartered legal e...
 City               | Nealbury
 First Name         | Teresa
 Last Name          | Moore
 Credit Score       | 610
 Gender             | Non-Binary
 Age                | 57
 Account Balance    | 86671.28
 Number of Accounts | 1
 Number of Products | 8
 Loan               | No
 Investment         | NULL
 Credit Card Limit  | 6946.54
 Start Date         | 2021-04-04
 End Date           | 2022-08-06
-RECORD 7----------------------------------
 Code               | 5543
 Net Salary         | 5923.38
 Gross Salary       | 7184.64
 Occupation         | Chief Operating O...
 City               | New Lorraineberg
 First Name         | Lacey
 Last Name          | Vargas
 Credit Score       | 758
 Gender             | Male
 Age                | 27
 Account Balance    | 70675.47
 Number of Accounts | 4
 Number of Products | 6
 Loan               | NULL
 Investment         | NULL
 Credit Card Limit  | 7243.11
 Start Date         | 2021-11-08
 End Date           | NULL
-RECORD 8----------------------------------
 Code               | 4614
 Net Salary         | 3055.84
 Gross Salary       | 3710.17
 Occupation         | Chief Operating O...
 City               | South Lauraport
 First Name         | Rodney
 Last Name          | Jackson
 Credit Score       | 789
 Gender             | Male
 Age                | 30
 Account Balance    | 70487.31
 Number of Accounts | 3
 Number of Products | 9
 Loan               | Yes
 Investment         | No
 Credit Card Limit  | 3457.29
 Start Date         | 2015-06-10
 End Date           | 2020-10-30
-RECORD 9----------------------------------
 Code               | 2602
 Net Salary         | 6688.5
 Gross Salary       | 9423.67
 Occupation         | Tour manager
 City               | Jonesshire
 First Name         | April
 Last Name          | Cisneros
 Credit Score       | 517
 Gender             | Female
 Age                | 45
 Account Balance    | 86634.23
 Number of Accounts | 3
 Number of Products | 3
 Loan               | NULL
 Investment         | NULL
 Credit Card Limit  | 6898.68
 Start Date         | 2022-08-20
 End Date           | 2022-08-23
-RECORD 10---------------------------------
 Code               | 3908
 Net Salary         | 4382.2
 Gross Salary       | 6249.17
 Occupation         | Agricultural engi...
 City               | New Aaronshire
 First Name         | Kristen
 Last Name          | Cox
 Credit Score       | 456
 Gender             | Female
 Age                | 49
 Account Balance    | 21304.41
 Number of Accounts | 4
 Number of Products | 6
 Loan               | No
 Investment         | NULL
 Credit Card Limit  | 625.13
 Start Date         | 2015-09-26
 End Date           | NULL
-RECORD 11---------------------------------
 Code               | 7519
 Net Salary         | 5721.01
 Gross Salary       | 6510.69
 Occupation         | Animal technologist
 City               | Masonview
 First Name         | Hannah
 Last Name          | Carr
 Credit Score       | 499
 Gender             | Non-Binary
 Age                | 33
 Account Balance    | 87873.68
 Number of Accounts | 4
 Number of Products | 6
 Loan               | NULL
 Investment         | NULL
 Credit Card Limit  | 9015.89
 Start Date         | 2015-11-19
 End Date           | 2023-11-27
-RECORD 12---------------------------------
 Code               | 7690
 Net Salary         | 8008.5
 Gross Salary       | 10317.23
 Occupation         | Buyer, industrial
 City               | Jacksonview
 First Name         | Gregory
 Last Name          | Anderson
 Credit Score       | 781
 Gender             | Female
 Age                | 61
 Account Balance    | 52182.09
 Number of Accounts | 1
 Number of Products | 9
 Loan               | Yes
 Investment         | NULL
 Credit Card Limit  | 5977.4
 Start Date         | 2017-12-10
 End Date           | NULL
-RECORD 13---------------------------------
 Code               | 9141
 Net Salary         | 4851.3
 Gross Salary       | 6291.01
 Occupation         | Accountant, chart...
 City               | East Robert
 First Name         | Stephen
 Last Name          | Dixon
 Credit Score       | 796
 Gender             | Male
 Age                | 44
 Account Balance    | 2726.8
 Number of Accounts | 5
 Number of Products | 1
 Loan               | Yes
 Investment         | No
 Credit Card Limit  | 5580.01
 Start Date         | 2015-03-05
 End Date           | NULL
-RECORD 14---------------------------------
 Code               | 5191
 Net Salary         | 8612.57
 Gross Salary       | 9972.14
 Occupation         | Hydrogeologist
 City               | West Jenniferburgh
 First Name         | David
 Last Name          | Crane
 Credit Score       | 588
 Gender             | Female
 Age                | 68
 Account Balance    | 7771.48
 Number of Accounts | 5
 Number of Products | 5
 Loan               | Yes
 Investment         | No
 Credit Card Limit  | 2850.54
 Start Date         | 2020-10-25
 End Date           | NULL
-RECORD 15---------------------------------
 Code               | 2130
 Net Salary         | 9370.88
 Gross Salary       | 12386.67
 Occupation         | Archivist
 City               | Smithburgh
 First Name         | Joseph
 Last Name          | Reed
 Credit Score       | 720
 Gender             | Non-Binary
 Age                | 62
 Account Balance    | 65557.46
 Number of Accounts | 1
 Number of Products | 3
 Loan               | Yes
 Investment         | No
 Credit Card Limit  | 2520.86
 Start Date         | 2015-07-07
 End Date           | NULL
-RECORD 16---------------------------------
 Code               | 5825
 Net Salary         | 3908.33
 Gross Salary       | 5498.91
 Occupation         | Historic building...
 City               | Lake Jonathanstad
 First Name         | Kevin
 Last Name          | Williamson
 Credit Score       | 650
 Gender             | Female
 Age                | 68
 Account Balance    | 95845.02
 Number of Accounts | 5
 Number of Products | 7
 Loan               | Yes
 Investment         | No
 Credit Card Limit  | 2858.87
 Start Date         | 2020-01-30
 End Date           | NULL
-RECORD 17---------------------------------
 Code               | 1668
 Net Salary         | 9029.44
 Gross Salary       | 10653.6
 Occupation         | Acupuncturist
 City               | Sandramouth
 First Name         | Brittany
 Last Name          | Terry
 Credit Score       | 799
 Gender             | Male
 Age                | 64
 Account Balance    | 84321.44
 Number of Accounts | 4
 Number of Products | 6
 Loan               | No
 Investment         | NULL
 Credit Card Limit  | 3036.32
 Start Date         | 2019-01-05
 End Date           | NULL
-RECORD 18---------------------------------
 Code               | 2031
 Net Salary         | 8691.82
 Gross Salary       | 9901.62
 Occupation         | Theatre manager
 City               | Traceyport
 First Name         | Madison
 Last Name          | Bryant
 Credit Score       | 800
 Gender             | Male
 Age                | 34
 Account Balance    | 58110.13
 Number of Accounts | 5
 Number of Products | 2
 Loan               | No
 Investment         | NULL
 Credit Card Limit  | 7696.55
 Start Date         | 2020-04-06
 End Date           | NULL
-RECORD 19---------------------------------
 Code               | 2238
 Net Salary         | 4470.88
 Gross Salary       | 5612.8
 Occupation         | Doctor, general p...
 City               | North Heather
 First Name         | Zachary
 Last Name          | Patel
 Credit Score       | 629
 Gender             | Female
 Age                | 64
 Account Balance    | 39241.48
 Number of Accounts | 3
 Number of Products | 8
 Loan               | NULL
 Investment         | No
 Credit Card Limit  | 9224.84
 Start Date         | 2019-03-08
 End Date           | NULL
only showing top 20 rows

In [ ]:
#visualizar as colunas do dataframe
df.columns

['Code',
 'Net Salary',
 'Gross Salary',
 'Occupation',
 'City',
 'First Name',
 'Last Name',
 'Credit Score',
 'Gender',
 'Age',
 'Account Balance',
 'Number of Accounts',
 'Number of Products',
 'Loan',
 'Investment',
 'Credit Card Limit',
 'Start Date',
 'End Date']

In [ ]:
#resume o dataframe
df.printSchema()

root
 |-- Code: integer (nullable = true)
 |-- Net Salary: double (nullable = true)
 |-- Gross Salary: double (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- City: string (nullable = true)
 |-- First Name: string (nullable = true)
 |-- Last Name: string (nullable = true)
 |-- Credit Score: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Account Balance: double (nullable = true)
 |-- Number of Accounts: integer (nullable = true)
 |-- Number of Products: integer (nullable = true)
 |-- Loan: string (nullable = true)
 |-- Investment: string (nullable = true)
 |-- Credit Card Limit: double (nullable = true)
 |-- Start Date: date (nullable = true)
 |-- End Date: date (nullable = true)

In [ ]:
df

DataFrame[Code: int, Net Salary: double, Gross Salary: double, Occupation: string, City: string, First Name: string, Last Name: string, Credit Score: int, Gender: string, Age: int, Account Balance: double, Number of Accounts: int, Number of Products: int, Loan: string, Investment: string, Credit Card Limit: double, Start Date: date, End Date: date]

In [ ]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', True)
df

DataFrame[Code: int, Net Salary: double, Gross Salary: double, Occupation: string, City: string, First Name: string, Last Name: string, Credit Score: int, Gender: string, Age: int, Account Balance: double, Number of Accounts: int, Number of Products: int, Loan: string, Investment: string, Credit Card Limit: double, Start Date: date, End Date: date]

**Obs**:
A configuração **spark.sql.repl.eagerEval.enabled** controla se a avaliação de expressões SQL no PySpark é feita de forma imediata (eager evaluation) ou adiada (lazy evaluation) em ambientes interativos, como o Jupyter Notebook. Aqui está uma explicação detalhada:

Avaliação Eager (Immediate Evaluation):

Quando essa configuração está ativada (com o valor true), as expressões SQL são avaliadas imediatamente.
Isso significa que, ao executar um comando SQL, o resultado será computado imediatamente e retornado.
Isso pode ser útil para ambientes interativos, onde o usuário deseja ver o resultado imediatamente após a execução de uma consulta ou operação.
Avaliação Preguiçosa (Lazy Evaluation):

Quando essa configuração está desativada (com o valor false, que é o padrão), as expressões SQL são avaliadas de forma adiada.
Isso significa que a avaliação e a execução das operações são postergadas até que seja realmente necessário, como quando é solicitada uma ação de coleta (collect, show, etc.).
Esse é o comportamento padrão do PySpark e é ideal para trabalhar com grandes volumes de dados, já que as operações são otimizadas e executadas de forma eficiente.
Em resumo, ao habilitar spark.sql.repl.eagerEval.enabled, você está optando por ter uma avaliação imediata das consultas SQL em ambientes interativos, enquanto a desativação mantém o comportamento padrão de avaliação preguiçosa, adiando a execução até que seja necessário. A escolha entre essas opções depende das necessidades do seu fluxo de trabalho e do volume de dados com que está trabalhando.

In [ ]:
spark.conf.set('spark.sql.repl.eagerEval.enabled', False)

In [ ]:
df.describe().show()

+-------+-----------------+------------------+-----------------+------------------+-----------+----------+---------+------------------+----------+-----------------+------------------+------------------+------------------+------+----------+------------------+
|summary|             Code|        Net Salary|     Gross Salary|        Occupation|       City|First Name|Last Name|      Credit Score|    Gender|              Age|   Account Balance|Number of Accounts|Number of Products|  Loan|Investment| Credit Card Limit|
+-------+-----------------+------------------+-----------------+------------------+-----------+----------+---------+------------------+----------+-----------------+------------------+------------------+------------------+------+----------+------------------+
|  count|           230720|            230720|           230720|            230720|     230720|    230720|   230720|            230720|    230720|           230720|            230720|            230720|            230720|153593|    153839|            230720|
|   mean|5504.078974514563| 5753.857028432671|7228.381801014239|              NULL|       NULL|      NULL|     NULL| 574.7574029126214|      NULL|48.99495058945909| 49530.87371593315|  2.99752947295423| 5.502136789181692|  NULL|      NULL| 5250.701910020841|
| stddev|2597.610206863479|2453.9628088322543|3135.765837929181|              NULL|       NULL|      NULL|     NULL|159.21269970295748|      NULL|18.18808273820737|29136.611331109903|1.4145607486322953|2.8708739829186407|  NULL|      NULL|2743.0043661297664|
|    min|             1000|            1500.0|          1669.46|Academic librarian|  Aaronberg|     Aaron|   Abbott|               300|    Female|               18|           -999.61|                 1|                 1|    No|        No|            500.05|
|    max|             9999|           9999.99|          14256.3|      Youth worker|Zunigaville|       Zoe|   Zuniga|               850|Non-Binary|               80|          99998.24|                 5|                10|   Yes|       Yes|           9999.95|
+-------+-----------------+------------------+-----------------+------------------+-----------+----------+---------+------------------+----------+-----------------+------------------+------------------+------------------+------+----------+------------------+

In [ ]:
%time

df.collect()

CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 9.06 µs

[Row(Code=7144, Net Salary=7891.33, Gross Salary=10255.14, Occupation='Lawyer', City='Reedfort', First Name='Kurt', Last Name='Huang', Credit Score=694, Gender='Male', Age=32, Account Balance=52481.75, Number of Accounts=5, Number of Products=10, Loan=None, Investment='Yes', Credit Card Limit=1844.6, Start Date=datetime.date(2020, 4, 24), End Date=None),
 Row(Code=6596, Net Salary=3632.26, Gross Salary=4079.33, Occupation='Automotive engineer', City='Lake Bridget', First Name='Lisa', Last Name='Blankenship', Credit Score=440, Gender='Non-Binary', Age=49, Account Balance=32122.49, Number of Accounts=5, Number of Products=3, Loan=None, Investment='No', Credit Card Limit=1083.45, Start Date=datetime.date(2021, 6, 23), End Date=datetime.date(2023, 2, 7)),
 Row(Code=7120, Net Salary=9984.93, Gross Salary=14058.83, Occupation='Systems developer', City='East Davidmouth', First Name='Amanda', Last Name='Rojas', Credit Score=482, Gender='Male', Age=24, Account Balance=27343.12, Number of Accounts=4, Number of Products=8, Loan='Yes', Investment='No', Credit Card Limit=6314.58, Start Date=datetime.date(2020, 1, 22), End Date=None),
 Row(Code=5816, Net Salary=6905.21, Gross Salary=9115.37, Occupation='Research officer, trade union', City='East Michael', First Name='Kimberly', Last Name='Bennett', Credit Score=323, Gender='Female', Age=54, Account Balance=50154.69, Number of Accounts=5, Number of Products=5, Loan=None, Investment=None, Credit Card Limit=2300.09, Start Date=datetime.date(2018, 7, 20), End Date=None),
 Row(Code=4984, Net Salary=8142.29, Gross Salary=10837.0, Occupation='Curator', City='Alisonchester', First Name='Roger', Last Name='Haley', Credit Score=398, Gender='Female', Age=22, Account Balance=89224.62, Number of Accounts=1, Number of Products=5, Loan=None, Investment='Yes', Credit Card Limit=5149.37, Start Date=datetime.date(2019, 9, 27), End Date=None),
 Row(Code=3477, Net Salary=6457.93, Gross Salary=8596.56, Occupation='Site engineer', City='Veronicaberg', First Name='Michele', Last Name='Massey', Credit Score=356, Gender='Female', Age=54, Account Balance=93938.59, Number of Accounts=5, Number of Products=1, Loan='No', Investment=None, Credit Card Limit=9673.54, Start Date=datetime.date(2020, 12, 26), End Date=datetime.date(2021, 6, 7)),
 Row(Code=3454, Net Salary=2066.27, Gross Salary=2449.17, Occupation='Chartered legal executive (England and Wales)', City='Nealbury', First Name='Teresa', Last Name='Moore', Credit Score=610, Gender='Non-Binary', Age=57, Account Balance=86671.28, Number of Accounts=1, Number of Products=8, Loan='No', Investment=None, Credit Card Limit=6946.54, Start Date=datetime.date(2021, 4, 4), End Date=datetime.date(2022, 8, 6)),
 Row(Code=5543, Net Salary=5923.38, Gross Salary=7184.64, Occupation='Chief Operating Officer', City='New Lorraineberg', First Name='Lacey', Last Name='Vargas', Credit Score=758, Gender='Male', Age=27, Account Balance=70675.47, Number of Accounts=4, Number of Products=6, Loan=None, Investment=None, Credit Card Limit=7243.11, Start Date=datetime.date(2021, 11, 8), End Date=None),
 Row(Code=4614, Net Salary=3055.84, Gross Salary=3710.17, Occupation='Chief Operating Officer', City='South Lauraport', First Name='Rodney', Last Name='Jackson', Credit Score=789, Gender='Male', Age=30, Account Balance=70487.31, Number of Accounts=3, Number of Products=9, Loan='Yes', Investment='No', Credit Card Limit=3457.29, Start Date=datetime.date(2015, 6, 10), End Date=datetime.date(2020, 10, 30)),
 Row(Code=2602, Net Salary=6688.5, Gross Salary=9423.67, Occupation='Tour manager', City='Jonesshire', First Name='April', Last Name='Cisneros', Credit Score=517, Gender='Female', Age=45, Account Balance=86634.23, Number of Accounts=3, Number of Products=3, Loan=None, Investment=None, Credit Card Limit=6898.68, Start Date=datetime.date(2022, 8, 20), End Date=datetime.date(2022, 8, 23)),
 Row(Code=3908, Net Salary=4382.2, Gross Salary=6249.17, Occupation='Agricultural engineer', City='New Aaronshire', First Name='Kristen', Last Name='Cox', Credit Score=456, Gender='Female', Age=49, Account Balance=21304.41, Number of Accounts=4, Number of Products=6, Loan='No', Investment=None, Credit Card Limit=625.13, Start Date=datetime.date(2015, 9, 26), End Date=None),
 Row(Code=7519, Net Salary=5721.01, Gross Salary=6510.69, Occupation='Animal technologist', City='Masonview', First Name='Hannah', Last Name='Carr', Credit Score=499, Gender='Non-Binary', Age=33, Account Balance=87873.68, Number of Accounts=4, Number of Products=6, Loan=None, Investment=None, Credit Card Limit=9015.89, Start Date=datetime.date(2015, 11, 19), End Date=datetime.date(2023, 11, 27)),
 Row(Code=7690, Net Salary=8008.5, Gross Salary=10317.23, Occupation='Buyer, industrial', City='Jacksonview', First Name='Gregory', Last Name='Anderson', Credit Score=781, Gender='Female', Age=61, Account Balance=52182.09, Number of Accounts=1, Number of Products=9, Loan='Yes', Investment=None, Credit Card Limit=5977.4, Start Date=datetime.date(2017, 12, 10), End Date=None),
 Row(Code=9141, Net Salary=4851.3, Gross Salary=6291.01, Occupation='Accountant, chartered', City='East Robert', First Name='Stephen', Last Name='Dixon', Credit Score=796, Gender='Male', Age=44, Account Balance=2726.8, Number of Accounts=5, Number of Products=1, Loan='Yes', Investment='No', Credit Card Limit=5580.01, Start Date=datetime.date(2015, 3, 5), End Date=None),
 Row(Code=5191, Net Salary=8612.57, Gross Salary=9972.14, Occupation='Hydrogeologist', City='West Jenniferburgh', First Name='David', Last Name='Crane', Credit Score=588, Gender='Female', Age=68, Account Balance=7771.48, Number of Accounts=5, Number of Products=5, Loan='Yes', Investment='No', Credit Card Limit=2850.54, Start Date=datetime.date(2020, 10, 25), End Date=None),
 Row(Code=2130, Net Salary=9370.88, Gross Salary=12386.67, Occupation='Archivist', City='Smithburgh', First Name='Joseph', Last Name='Reed', Credit Score=720, Gender='Non-Binary', Age=62, Account Balance=65557.46, Number of Accounts=1, Number of Products=3, Loan='Yes', Investment='No', Credit Card Limit=2520.86, Start Date=datetime.date(2015, 7, 7), End Date=None),
 Row(Code=5825, Net Salary=3908.33, Gross Salary=5498.91, Occupation='Historic buildings inspector/conservation officer', City='Lake Jonathanstad', First Name='Kevin', Last Name='Williamson', Credit Score=650, Gender='Female', Age=68, Account Balance=95845.02, Number of Accounts=5, Number of Products=7, Loan='Yes', Investment='No', Credit Card Limit=2858.87, Start Date=datetime.date(2020, 1, 30), End Date=None),
 Row(Code=1668, Net Salary=9029.44, Gross Salary=10653.6, Occupation='Acupuncturist', City='Sandramouth', First Name='Brittany', Last Name='Terry', Credit Score=799, Gender='Male', Age=64, Account Balance=84321.44, Number of Accounts=4, Number of Products=6, Loan='No', Investment=None, Credit Card Limit=3036.32, Start Date=datetime.date(2019, 1, 5), End Date=None),
 Row(Code=2031, Net Salary=8691.82, Gross Salary=9901.62, Occupation='Theatre manager', City='Traceyport', First Name='Madison', Last Name='Bryant', Credit Score=800, Gender='Male', Age=34, Account Balance=58110.13, Number of Accounts=5, Number of Products=2, Loan='No', Investment=None, Credit Card Limit=7696.55, Start Date=datetime.date(2020, 4, 6), End Date=None),
 Row(Code=2238, Net Salary=4470.88, Gross Salary=5612.8, Occupation='Doctor, general practice', City='North Heather', First Name='Zachary', Last Name='Patel', Credit Score=629, Gender='Female', Age=64, Account Balance=39241.48, Number of Accounts=3, Number of Products=8, Loan=None, Investment='No', Credit Card Limit=9224.84, Start Date=datetime.date(2019, 3, 8), End Date=None),
 Row(Code=6116, Net Salary=1640.4, Gross Salary=2141.5, Occupation='Building services engineer', City='Lake Ashleyville', First Name='Alexander', Last Name='Mcdonald', Credit Score=791, Gender='Female', Age=51, Account Balance=63856.25, Number of Accounts=2, Number of Products=4, Loan='Yes', Investment=None, Credit Card Limit=2591.3, Start Date=datetime.date(2014, 6, 23), End Date=None),
 Row(Code=8573, Net Salary=6199.64, Gross Salary=8131.24, Occupation='Psychologist, counselling', City='New Rachelmouth', First Name='Cheryl', Last Name='Jenkins', Credit Score=676, Gender='Male', Age=79, Account Balance=36807.49, Number of Accounts=1, Number of Products=5, Loan='No', Investment=None, Credit Card Limit=4966.57, Start Date=datetime.date(2014, 6, 20), End Date=datetime.date(2019, 2, 25)),
 Row(Code=5293, Net Salary=2594.9, Gross Salary=3391.16, Occupation='Web designer', City='South Robertbury', First Name='Laura', Last Name='Torres', Credit Score=329, Gender='Non-Binary', Age=73, Account Balance=8332.97, Number of Accounts=1, Number of Products=3, Loan='Yes', Investment='Yes', Credit Card Limit=9095.81, Start Date=datetime.date(2020, 6, 3), End Date=datetime.date(2021, 2, 16)),
 Row(Code=6363, Net Salary=8363.48, Gross Salary=9938.75, Occupation='Communications engineer', City='Port Michaela', First Name='Jennifer', Last Name='Davis', Credit Score=437, Gender='Non-Binary', Age=65, Account Balance=78717.75, Number of Accounts=1, Number of Products=4, Loan='No', Investment='No', Credit Card Limit=8844.58, Start Date=datetime.date(2023, 3, 26), End Date=None),
 Row(Code=5975, Net Salary=7058.37, Gross Salary=8954.61, Occupation='Web designer', City='Lyonsborough', First Name='Deborah', Last Name='Hawkins', Credit Score=591, Gender='Female', Age=70, Account Balance=8523.98, Number of Accounts=4, Number of Products=6, Loan='No', Investment=None, Credit Card Limit=2521.08, Start Date=datetime.date(2021, 12, 25), End Date=None),
 Row(Code=9992, Net Salary=6711.7, Gross Salary=8178.55, Occupation='Clinical molecular geneticist', City='North Francisco', First Name='Scott', Last Name='Rodriguez', Credit Score=395, Gender='Male', Age=49, Account Balance=43666.97, Number of Accounts=3, Number of Products=5, Loan='No', Investment=None, Credit Card Limit=5661.3, Start Date=datetime.date(2017, 3, 2), End Date=None),
 Row(Code=2518, Net Salary=4413.58, Gross Salary=5454.68, Occupation='Retail buyer', City='Brittanyshire', First Name='Robert', Last Name='Beck', Credit Score=448, Gender='Female', Age=42, Account Balance=97623.32, Number of Accounts=2, Number of Products=6, Loan=None, Investment='Yes', Credit Card Limit=3827.16, Start Date=datetime.date(2015, 1, 3), End Date=None),
 Row(Code=8856, Net Salary=6336.75, Gross Salary=8087.31, Occupation='Film/video editor', City='Lake Nancy', First Name='Robert', Last Name='Cox', Credit Score=677, Gender='Non-Binary', Age=62, Account Balance=6243.33, Number of Accounts=5, Number of Products=7, Loan='No', Investment='No', Credit Card Limit=1227.31, Start Date=datetime.date(2020, 2, 15), End Date=None),
 Row(Code=4511, Net Salary=7962.19, Gross Salary=9885.29, Occupation='Therapist, drama', City='Waltersland', First Name='Pamela', Last Name='Bradford', Credit Score=601, Gender='Non-Binary', Age=35, Account Balance=96430.4, Number of Accounts=1, Number of Products=10, Loan='No', Investment='No', Credit Card Limit=2492.43, Start Date=datetime.date(2022, 1, 14), End Date=None),
 Row(Code=1607, Net Salary=7366.72, Gross Salary=8561.65, Occupation='Chartered accountant', City='Lake Veronica', First Name='Robert', Last Name='Kerr', Credit Score=743, Gender='Female', Age=66, Account Balance=86348.64, Number of Accounts=2, Number of Products=8, Loan='No', Investment='No', Credit Card Limit=9438.72, Start Date=datetime.date(2021, 1, 17), End Date=datetime.date(2023, 6, 16)),
 Row(Code=9385, Net Salary=4178.6, Gross Salary=5319.37, Occupation='General practice doctor', City='West Michaelbury', First Name='Sarah', Last Name='Clark', Credit Score=492, Gender='Male', Age=21, Account Balance=47053.22, Number of Accounts=1, Number of Products=3, Loan=None, Investment='Yes', Credit Card Limit=5633.85, Start Date=datetime.date(2014, 6, 20), End Date=None),
 Row(Code=3665, Net Salary=7013.01, Gross Salary=9234.81, Occupation='Scientist, product/process development', City='West Andrew', First Name='Kimberly', Last Name='Robinson', Credit Score=755, Gender='Female', Age=56, Account Balance=38763.07, Number of Accounts=1, Number of Products=1, Loan=None, Investment=None, Credit Card Limit=8501.45, Start Date=datetime.date(2022, 10, 10), End Date=None),
 Row(Code=4309, Net Salary=1572.96, Gross Salary=2020.52, Occupation='Education officer, environmental', City='South Rebeccaland', First Name='Mark', Last Name='Jackson', Credit Score=655, Gender='Female', Age=51, Account Balance=61833.66, Number of Accounts=1, Number of Products=4, Loan='No', Investment='Yes', Credit Card Limit=5770.78, Start Date=datetime.date(2020, 6, 20), End Date=None),
 Row(Code=9125, Net Salary=7601.29, Gross Salary=10668.29, Occupation='Engineer, broadcasting (operations)', City='Philipmouth', First Name='Stanley', Last Name='Drake', Credit Score=835, Gender='Male', Age=62, Account Balance=13386.03, Number of Accounts=3, Number of Products=3, Loan='No', Investment='No', Credit Card Limit=3733.62, Start Date=datetime.date(2018, 11, 20), End Date=None),
 Row(Code=9101, Net Salary=5119.95, Gross Salary=5982.53, Occupation='Administrator, local government', City='East Mollyton', First Name='Ian', Last Name='Cannon', Credit Score=636, Gender='Male', Age=26, Account Balance=30943.12, Number of Accounts=2, Number of Products=5, Loan='Yes', Investment='Yes', Credit Card Limit=8169.83, Start Date=datetime.date(2018, 4, 4), End Date=datetime.date(2020, 12, 4)),
 Row(Code=1923, Net Salary=9745.61, Gross Salary=11244.97, Occupation='Art therapist', City='Vasquezton', First Name='Kelly', Last Name='Pierce', Credit Score=575, Gender='Male', Age=50, Account Balance=78653.49, Number of Accounts=1, Number of Products=7, Loan='No', Investment='Yes', Credit Card Limit=8669.22, Start Date=datetime.date(2021, 1, 15), End Date=datetime.date(2022, 6, 18)),
 Row(Code=7347, Net Salary=7346.98, Gross Salary=9408.62, Occupation='Chartered loss adjuster', City='Woodton', First Name='Dennis', Last Name='Dominguez', Credit Score=460, Gender='Male', Age=27, Account Balance=87322.58, Number of Accounts=4, Number of Products=1, Loan='Yes', Investment='No', Credit Card Limit=8864.57, Start Date=datetime.date(2018, 2, 5), End Date=None),
 Row(Code=5542, Net Salary=3119.16, Gross Salary=4114.32, Occupation='Electronics engineer', City='Davidfort', First Name='Amanda', Last Name='Miles', Credit Score=511, Gender='Male', Age=53, Account Balance=19414.6, Number of Accounts=2, Number of Products=3, Loan='Yes', Investment='Yes', Credit Card Limit=7006.25, Start Date=datetime.date(2020, 10, 27), End Date=None),
 Row(Code=2859, Net Salary=4834.79, Gross Salary=5880.76, Occupation='Engineer, civil (consulting)', City='Meganfurt', First Name='Keith', Last Name='Francis', Credit Score=378, Gender='Non-Binary', Age=71, Account Balance=23417.83, Number of Accounts=2, Number of Products=3, Loan='Yes', Investment='Yes', Credit Card Limit=4553.93, Start Date=datetime.date(2022, 11, 23), End Date=None),
 Row(Code=8010, Net Salary=2221.32, Gross Salary=3122.37, Occupation='Lawyer', City='Petersonmouth', First Name='James', Last Name='Gillespie', Credit Score=800, Gender='Female', Age=25, Account Balance=92761.25, Number of Accounts=4, Number of Products=10, Loan='Yes', Investment=None, Credit Card Limit=6917.71, Start Date=datetime.date(2014, 4, 27), End Date=None),
 Row(Code=7659, Net Salary=5135.86, Gross Salary=5784.16, Occupation='Tax adviser', City='Port Kellystad', First Name='Rebekah', Last Name='Gibson', Credit Score=369, Gender='Female', Age=47, Account Balance=70621.63, Number of Accounts=4, Number of Products=4, Loan='No', Investment='No', Credit Card Limit=1996.82, Start Date=datetime.date(2016, 4, 9), End Date=None),
 Row(Code=3900, Net Salary=9971.94, Gross Salary=11749.2, Occupation='Technical author', City='New Dalton', First Name='Mario', Last Name='Lopez', Credit Score=601, Gender='Male', Age=68, Account Balance=51851.14, Number of Accounts=4, Number of Products=9, Loan='No', Investment='No', Credit Card Limit=9260.95, Start Date=datetime.date(2017, 2, 13), End Date=None),
 Row(Code=6623, Net Salary=7596.07, Gross Salary=9354.96, Occupation='Clinical molecular geneticist', City='Ronaldbury', First Name='Lisa', Last Name='Butler', Credit Score=727, Gender='Male', Age=59, Account Balance=45928.25, Number of Accounts=1, Number of Products=7, Loan=None, Investment='Yes', Credit Card Limit=1189.35, Start Date=datetime.date(2015, 5, 13), End Date=None),
 Row(Code=4766, Net Salary=5394.61, Gross Salary=6062.39, Occupation='Clothing/textile technologist', City='South Daniel', First Name='Daniel', Last Name='Smith', Credit Score=836, Gender='Non-Binary', Age=69, Account Balance=99639.3, Number of Accounts=2, Number of Products=8, Loan=None, Investment='Yes', Credit Card Limit=4001.45, Start Date=datetime.date(2017, 10, 5), End Date=datetime.date(2020, 11, 21)),
 Row(Code=1203, Net Salary=6897.14, Gross Salary=9723.64, Occupation='Communications engineer', City='West Jason', First Name='Jesus', Last Name='Pacheco', Credit Score=474, Gender='Female', Age=79, Account Balance=61373.61, Number of Accounts=5, Number of Products=7, Loan='No', Investment='Yes', Credit Card Limit=4527.22, Start Date=datetime.date(2016, 10, 15), End Date=None),
 Row(Code=2541, Net Salary=7040.32, Gross Salary=8115.72, Occupation='Food technologist', City='North Meaganton', First Name='Brian', Last Name='Taylor', Credit Score=492, Gender='Non-Binary', Age=21, Account Balance=25570.15, Number of Accounts=4, Number of Products=8, Loan=None, Investment=None, Credit Card Limit=4983.49, Start Date=datetime.date(2018, 11, 2), End Date=None),
 Row(Code=4627, Net Salary=4896.25, Gross Salary=5688.18, Occupation='Medical physicist', City='Lake David', First Name='Joshua', Last Name='Meza', Credit Score=453, Gender='Male', Age=58, Account Balance=62805.21, Number of Accounts=5, Number of Products=1, Loan='No', Investment='No', Credit Card Limit=9229.18, Start Date=datetime.date(2020, 7, 22), End Date=None),
 Row(Code=3775, Net Salary=3040.04, Gross Salary=3487.54, Occupation='Scientist, research (medical)', City='Jeffreyshire', First Name='Sarah', Last Name='Jackson', Credit Score=647, Gender='Non-Binary', Age=34, Account Balance=24699.69, Number of Accounts=5, Number of Products=2, Loan='No', Investment='Yes', Credit Card Limit=6060.97, Start Date=datetime.date(2015, 10, 5), End Date=None),
 Row(Code=9705, Net Salary=5433.29, Gross Salary=7336.42, Occupation='Biomedical scientist', City='South Emilybury', First Name='Donna', Last Name='Johnson', Credit Score=843, Gender='Non-Binary', Age=80, Account Balance=41998.46, Number of Accounts=1, Number of Products=9, Loan='No', Investment=None, Credit Card Limit=2936.52, Start Date=datetime.date(2018, 11, 11), End Date=None),
 Row(Code=7719, Net Salary=9136.25, Gross Salary=11937.65, Occupation='Dance movement psychotherapist', City='Maryborough', First Name='Toni', Last Name='Lane', Credit Score=578, Gender='Female', Age=76, Account Balance=11464.56, Number of Accounts=5, Number of Products=7, Loan='Yes', Investment=None, Credit Card Limit=9129.28, Start Date=datetime.date(2017, 9, 22), End Date=datetime.date(2018, 10, 8)),
 Row(Code=8330, Net Salary=3447.94, Gross Salary=4262.59, Occupation="Barrister's clerk", City='West Darrellburgh', First Name='Gina', Last Name='Rogers', Credit Score=536, Gender='Female', Age=66, Account Balance=84436.24, Number of Accounts=5, Number of Products=4, Loan='No', Investment='No', Credit Card Limit=2372.89, Start Date=datetime.date(2020, 7, 26), End Date=None),

**Obs**: O método **DataFrame.collect()** no PySpark é utilizado para coletar todos os dados de um DataFrame distribuído para o lado do driver como uma lista de registros. Cada registro é representado como uma linha no DataFrame. Esse método é muito útil quando você precisa trazer os dados distribuídos para o espaço de memória local para fazer operações que exigem acesso aos dados completos, como converter os dados para uma estrutura de dados Python ou imprimir os dados para inspeção.

No entanto, é importante usar collect() com cautela, especialmente com grandes conjuntos de dados. Como ele transfere todos os dados para a máquina do driver, isso pode facilmente exceder a memória disponível e causar um erro de falta de memória (OutOfMemoryError). Isso acontece porque, diferentemente das operações distribuídas que dividem os dados em partições gerenciáveis, collect() tenta armazenar todo o conjunto de dados na memória do driver de uma só vez.

Em resumo, collect() é uma ferramenta poderosa para trazer dados distribuídos para análise local, mas deve ser usado com discernimento e geralmente em volumes de dados que você sabe que são pequenos o suficiente para serem gerenciados pela memória do driver. Para conjuntos de dados maiores, métodos como show(), take(), ou operações de agregação que resumem os dados antes de coletá-los, podem ser mais apropriados.

Quando falamos sobre um **"DataFrame distribuído"** em contextos como PySpark (a versão do Spark para Python), estamos nos referindo a dados que são armazenados e processados em um cluster de computadores, e não em uma única máquina. Isso permite o processamento de grandes volumes de dados de maneira eficiente, dividindo o trabalho entre várias máquinas. Cada máquina do cluster trabalha com sua parcela dos dados, executando tarefas em paralelo.

O **"lado do driver"** é o ponto central de controle em uma aplicação Spark. O driver é onde seu programa Spark é executado, e é responsável por:

Converter o programa em tarefas a serem executadas nos nós executores (as máquinas do cluster que executam as operações de dados).
Agendar as tarefas nos executores.
Coletar os resultados das tarefas executadas pelos executores.
Quando dizemos que um DataFrame distribuído é trazido "para o lado do driver", estamos descrevendo o processo pelo qual os resultados das operações distribuídas—que foram realizadas nos diversos executores—são coletados e agregados no driver. Isso é útil quando precisamos visualizar os dados, fazer análises locais ou exportar os resultados para sistemas externos que não estão distribuídos.

A operação de coleta de dados distribuídos no driver, como mencionado anteriormente, pode ser feita usando o método .collect() de um DataFrame. Isso resulta em uma lista de registros (linhas) sendo armazenada na memória do driver. Entretanto, é uma operação potencialmente perigosa para grandes conjuntos de dados, pois pode consumir toda a memória disponível no driver, levando a erros de falta de memória.

In [ ]:
%time
df_ = df.toPandas()

CPU times: user 4 µs, sys: 1 µs, total: 5 µs
Wall time: 8.11 µs

In [ ]:
df_.tail()

,Code,Net Salary,Gross Salary,Occupation,City,First Name,Last Name,Credit Score,Gender,Age,Account Balance,Number of Accounts,Number of Products,Loan,Investment,Credit Card Limit,Start Date,End Date
230715,8768,6521.32,7828.27,Archivist,Vanessamouth,Matthew,Anderson,384,Non-Binary,23,43494.76,3,1,Yes,None,7041.89,2016-10-29,None
230716,6432,4549.63,6473.61,Police officer,East Albert,Christina,Santiago,574,Male,45,9857.24,4,1,No,Yes,3989.85,2020-01-22,None
230717,8940,9383.46,11563.89,Art gallery manager,Turnerfurt,Cynthia,Buckley,420,Female,63,96893.93,2,5,None,Yes,5241.30,2019-08-25,None
230718,5422,8545.28,10417.73,"Investment banker, operational",Port Wendyside,Michael,Mitchell,585,Male,73,24647.55,3,2,No,Yes,5791.38,2018-12-16,None
230719,4589,8621.96,12201.61,General practice doctor,Haleyfurt,Calvin,Contreras,415,Non-Binary,54,96488.19,3,2,No,Yes,611.67,2017-11-29,None

## **Selecionando e acessando os dados**

In [ ]:
df.Code

Column<'Code'>

In [ ]:
df.select(df.Code).show()

+----+
|Code|
+----+
|7144|
|6596|
|7120|
|5816|
|4984|
|3477|
|3454|
|5543|
|4614|
|2602|
|3908|
|7519|
|7690|
|9141|
|5191|
|2130|
|5825|
|1668|
|2031|
|2238|
+----+
only showing top 20 rows

In [ ]:
df.select("Gross Salary", "Occupation", "City").describe().show()

+-------+-----------------+------------------+-----------+
|summary|     Gross Salary|        Occupation|       City|
+-------+-----------------+------------------+-----------+
|  count|           230720|            230720|     230720|
|   mean|7228.381801014239|              NULL|       NULL|
| stddev|3135.765837929181|              NULL|       NULL|
|    min|          1669.46|Academic librarian|  Aaronberg|
|    max|          14256.3|      Youth worker|Zunigaville|
+-------+-----------------+------------------+-----------+

In [ ]:
df.select("Gross Salary", "Occupation", "City").show()

+------------+--------------------+------------------+
|Gross Salary|          Occupation|              City|
+------------+--------------------+------------------+
|    10255.14|              Lawyer|          Reedfort|
|     4079.33| Automotive engineer|      Lake Bridget|
|    14058.83|   Systems developer|   East Davidmouth|
|     9115.37|Research officer,...|      East Michael|
|     10837.0|             Curator|     Alisonchester|
|     8596.56|       Site engineer|      Veronicaberg|
|     2449.17|Chartered legal e...|          Nealbury|
|     7184.64|Chief Operating O...|  New Lorraineberg|
|     3710.17|Chief Operating O...|   South Lauraport|
|     9423.67|        Tour manager|        Jonesshire|
|     6249.17|Agricultural engi...|    New Aaronshire|
|     6510.69| Animal technologist|         Masonview|
|    10317.23|   Buyer, industrial|       Jacksonview|
|     6291.01|Accountant, chart...|       East Robert|
|     9972.14|      Hydrogeologist|West Jenniferburgh|
|    12386.67|           Archivist|        Smithburgh|
|     5498.91|Historic building...| Lake Jonathanstad|
|     10653.6|       Acupuncturist|       Sandramouth|
|     9901.62|     Theatre manager|        Traceyport|
|      5612.8|Doctor, general p...|     North Heather|
+------------+--------------------+------------------+
only showing top 20 rows

In [ ]:
df.filter(df.Occupation == 'Lawyer').show()

+----+----------+------------+----------+--------------------+----------+---------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|Code|Net Salary|Gross Salary|Occupation|                City|First Name|Last Name|Credit Score|    Gender|Age|Account Balance|Number of Accounts|Number of Products|Loan|Investment|Credit Card Limit|Start Date|  End Date|
+----+----------+------------+----------+--------------------+----------+---------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|7144|   7891.33|    10255.14|    Lawyer|            Reedfort|      Kurt|    Huang|         694|      Male| 32|       52481.75|                 5|                10|NULL|       Yes|           1844.6|2020-04-24|      NULL|
|8010|   2221.32|     3122.37|    Lawyer|       Petersonmouth|     James|Gillespie|         800|    Female| 25|       92761.25|                 4|                10| Yes|      NULL|          6917.71|2014-04-27|      NULL|
|4411|   6317.92|     8761.23|    Lawyer|           Moorebury|     Kerri| Williams|         451|Non-Binary| 63|        7398.58|                 3|                 9| Yes|      NULL|          1890.58|2019-03-28|      NULL|
|5894|   3113.25|     4318.17|    Lawyer|         Kennedytown|    Joshua|   Wright|         309|Non-Binary| 54|       54753.32|                 1|                 3|NULL|       Yes|          9819.85|2014-11-11|      NULL|
|7021|   1658.08|     2035.92|    Lawyer|       New Jorgefort|     Laura|    Davis|         470|Non-Binary| 21|        11170.1|                 4|                 8|NULL|       Yes|          3782.26|2018-12-30|      NULL|
|5239|   4094.19|      4804.5|    Lawyer|         Port Carrie|    Kendra|    Perez|         627|Non-Binary| 71|       12228.27|                 5|                 4|NULL|      NULL|          6632.69|2019-03-01|      NULL|
|6820|   6132.64|     8139.67|    Lawyer|           Isaacfurt|     Jared| Williams|         707|    Female| 45|       95282.48|                 2|                 7|NULL|        No|          7526.86|2014-04-12|      NULL|
|8339|   9154.53|    11173.08|    Lawyer|          Scottshire|      Tara| Reynolds|         556|Non-Binary| 23|        8595.49|                 5|                 5|NULL|        No|           5857.9|2016-11-07|      NULL|
|7928|   9997.52|    11802.24|    Lawyer|South Christopher...|     Molly|   Dunlap|         630|Non-Binary| 67|       92035.62|                 3|                 1| Yes|        No|          7502.72|2016-04-04|2018-09-30|
|6059|   5078.59|      6350.5|    Lawyer|  East Stephaniefort|     Bryan|    Cantu|         699|      Male| 54|       19133.39|                 5|                 1|NULL|        No|          1709.36|2015-05-05|      NULL|
|3493|   9666.24|    12087.19|    Lawyer|         New Richard|     April|  Edwards|         346|Non-Binary| 42|       68872.31|                 2|                 1|  No|        No|          1517.82|2021-07-27|      NULL|
|6625|   4509.19|     5363.77|    Lawyer|     South Susanland|  Jonathan|    Glenn|         306|    Female| 53|       42852.29|                 5|                 4|  No|      NULL|          5787.99|2014-08-24|      NULL|
|7021|   5384.94|      7190.5|    Lawyer|      Lake Tammyview|   Tabitha|   Bailey|         425|Non-Binary| 27|       44794.54|                 5|                 4|  No|      NULL|          9267.87|2020-05-21|      NULL|
|3639|   1691.82|     1974.52|    Lawyer|      North Ivanstad|   William|   Carter|         546|    Female| 79|        3505.57|                 5|                 7|NULL|        No|           566.76|2020-08-20|      NULL|
|9668|   3152.71|     3748.53|    Lawyer|           East John|     Mario|      May|         538|Non-Binary| 39|       21675.83|                 1|                 5|  No|       Yes|          4535.83|2016-05-29|      NULL|
|5708|   4748.83|      6410.5|    Lawyer|       South Anthony|   Richard|   Wright|         581|    Female| 54|       37636.28|                 3|                 9|  No|       Yes|          7566.89|2021-09-21|      NULL|
|5463|   6704.38|     7482.73|    Lawyer|           Hillshire|     Erika|    Perez|         736|Non-Binary| 75|       93151.75|                 1|                 8|NULL|       Yes|          5979.71|2018-01-18|2021-06-17|
|2043|   9625.46|    12341.02|    Lawyer|          Molinafurt|     Cindy|  Hensley|         523|      Male| 60|       27554.53|                 5|                 8|NULL|       Yes|          4555.52|2017-10-14|      NULL|
|8038|   6624.45|     8941.51|    Lawyer|           Cantuland|    Denise|   Duncan|         800|      Male| 41|       25591.48|                 1|                 2| Yes|      NULL|          8200.52|2018-01-04|      NULL|
|8233|    6175.2|     7068.65|    Lawyer|        Cynthiahaven|   Jessica|   Thomas|         583|Non-Binary| 46|       27548.97|                 2|                10| Yes|        No|          5754.28|2020-06-24|      NULL|
+----+----------+------------+----------+--------------------+----------+---------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
only showing top 20 rows

In [ ]:
df.filter(df['Credit Score'] > 600).show()

+----+----------+------------+--------------------+-----------------+----------+----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|Code|Net Salary|Gross Salary|          Occupation|             City|First Name| Last Name|Credit Score|    Gender|Age|Account Balance|Number of Accounts|Number of Products|Loan|Investment|Credit Card Limit|Start Date|  End Date|
+----+----------+------------+--------------------+-----------------+----------+----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|7144|   7891.33|    10255.14|              Lawyer|         Reedfort|      Kurt|     Huang|         694|      Male| 32|       52481.75|                 5|                10|NULL|       Yes|           1844.6|2020-04-24|      NULL|
|3454|   2066.27|     2449.17|Chartered legal e...|         Nealbury|    Teresa|     Moore|         610|Non-Binary| 57|       86671.28|                 1|                 8|  No|      NULL|          6946.54|2021-04-04|2022-08-06|
|5543|   5923.38|     7184.64|Chief Operating O...| New Lorraineberg|     Lacey|    Vargas|         758|      Male| 27|       70675.47|                 4|                 6|NULL|      NULL|          7243.11|2021-11-08|      NULL|
|4614|   3055.84|     3710.17|Chief Operating O...|  South Lauraport|    Rodney|   Jackson|         789|      Male| 30|       70487.31|                 3|                 9| Yes|        No|          3457.29|2015-06-10|2020-10-30|
|7690|    8008.5|    10317.23|   Buyer, industrial|      Jacksonview|   Gregory|  Anderson|         781|    Female| 61|       52182.09|                 1|                 9| Yes|      NULL|           5977.4|2017-12-10|      NULL|
|9141|    4851.3|     6291.01|Accountant, chart...|      East Robert|   Stephen|     Dixon|         796|      Male| 44|         2726.8|                 5|                 1| Yes|        No|          5580.01|2015-03-05|      NULL|
|2130|   9370.88|    12386.67|           Archivist|       Smithburgh|    Joseph|      Reed|         720|Non-Binary| 62|       65557.46|                 1|                 3| Yes|        No|          2520.86|2015-07-07|      NULL|
|5825|   3908.33|     5498.91|Historic building...|Lake Jonathanstad|     Kevin|Williamson|         650|    Female| 68|       95845.02|                 5|                 7| Yes|        No|          2858.87|2020-01-30|      NULL|
|1668|   9029.44|     10653.6|       Acupuncturist|      Sandramouth|  Brittany|     Terry|         799|      Male| 64|       84321.44|                 4|                 6|  No|      NULL|          3036.32|2019-01-05|      NULL|
|2031|   8691.82|     9901.62|     Theatre manager|       Traceyport|   Madison|    Bryant|         800|      Male| 34|       58110.13|                 5|                 2|  No|      NULL|          7696.55|2020-04-06|      NULL|
|2238|   4470.88|      5612.8|Doctor, general p...|    North Heather|   Zachary|     Patel|         629|    Female| 64|       39241.48|                 3|                 8|NULL|        No|          9224.84|2019-03-08|      NULL|
|6116|    1640.4|      2141.5|Building services...| Lake Ashleyville| Alexander|  Mcdonald|         791|    Female| 51|       63856.25|                 2|                 4| Yes|      NULL|           2591.3|2014-06-23|      NULL|
|8573|   6199.64|     8131.24|Psychologist, cou...|  New Rachelmouth|    Cheryl|   Jenkins|         676|      Male| 79|       36807.49|                 1|                 5|  No|      NULL|          4966.57|2014-06-20|2019-02-25|
|8856|   6336.75|     8087.31|   Film/video editor|       Lake Nancy|    Robert|       Cox|         677|Non-Binary| 62|        6243.33|                 5|                 7|  No|        No|          1227.31|2020-02-15|      NULL|
|4511|   7962.19|     9885.29|    Therapist, drama|      Waltersland|    Pamela|  Bradford|         601|Non-Binary| 35|        96430.4|                 1|                10|  No|        No|          2492.43|2022-01-14|      NULL|
|1607|   7366.72|     8561.65|Chartered accountant|    Lake Veronica|    Robert|      Kerr|         743|    Female| 66|       86348.64|                 2|                 8|  No|        No|          9438.72|2021-01-17|2023-06-16|
|3665|   7013.01|     9234.81|Scientist, produc...|      West Andrew|  Kimberly|  Robinson|         755|    Female| 56|       38763.07|                 1|                 1|NULL|      NULL|          8501.45|2022-10-10|      NULL|
|4309|   1572.96|     2020.52|Education officer...|South Rebeccaland|      Mark|   Jackson|         655|    Female| 51|       61833.66|                 1|                 4|  No|       Yes|          5770.78|2020-06-20|      NULL|
|9125|   7601.29|    10668.29|Engineer, broadca...|      Philipmouth|   Stanley|     Drake|         835|      Male| 62|       13386.03|                 3|                 3|  No|        No|          3733.62|2018-11-20|      NULL|
|9101|   5119.95|     5982.53|Administrator, lo...|    East Mollyton|       Ian|    Cannon|         636|      Male| 26|       30943.12|                 2|                 5| Yes|       Yes|          8169.83|2018-04-04|2020-12-04|
+----+----------+------------+--------------------+-----------------+----------+----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import col

df.filter(col('Credit Score') > 600).show()

+----+----------+------------+--------------------+-----------------+----------+----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|Code|Net Salary|Gross Salary|          Occupation|             City|First Name| Last Name|Credit Score|    Gender|Age|Account Balance|Number of Accounts|Number of Products|Loan|Investment|Credit Card Limit|Start Date|  End Date|
+----+----------+------------+--------------------+-----------------+----------+----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|7144|   7891.33|    10255.14|              Lawyer|         Reedfort|      Kurt|     Huang|         694|      Male| 32|       52481.75|                 5|                10|NULL|       Yes|           1844.6|2020-04-24|      NULL|
|3454|   2066.27|     2449.17|Chartered legal e...|         Nealbury|    Teresa|     Moore|         610|Non-Binary| 57|       86671.28|                 1|                 8|  No|      NULL|          6946.54|2021-04-04|2022-08-06|
|5543|   5923.38|     7184.64|Chief Operating O...| New Lorraineberg|     Lacey|    Vargas|         758|      Male| 27|       70675.47|                 4|                 6|NULL|      NULL|          7243.11|2021-11-08|      NULL|
|4614|   3055.84|     3710.17|Chief Operating O...|  South Lauraport|    Rodney|   Jackson|         789|      Male| 30|       70487.31|                 3|                 9| Yes|        No|          3457.29|2015-06-10|2020-10-30|
|7690|    8008.5|    10317.23|   Buyer, industrial|      Jacksonview|   Gregory|  Anderson|         781|    Female| 61|       52182.09|                 1|                 9| Yes|      NULL|           5977.4|2017-12-10|      NULL|
|9141|    4851.3|     6291.01|Accountant, chart...|      East Robert|   Stephen|     Dixon|         796|      Male| 44|         2726.8|                 5|                 1| Yes|        No|          5580.01|2015-03-05|      NULL|
|2130|   9370.88|    12386.67|           Archivist|       Smithburgh|    Joseph|      Reed|         720|Non-Binary| 62|       65557.46|                 1|                 3| Yes|        No|          2520.86|2015-07-07|      NULL|
|5825|   3908.33|     5498.91|Historic building...|Lake Jonathanstad|     Kevin|Williamson|         650|    Female| 68|       95845.02|                 5|                 7| Yes|        No|          2858.87|2020-01-30|      NULL|
|1668|   9029.44|     10653.6|       Acupuncturist|      Sandramouth|  Brittany|     Terry|         799|      Male| 64|       84321.44|                 4|                 6|  No|      NULL|          3036.32|2019-01-05|      NULL|
|2031|   8691.82|     9901.62|     Theatre manager|       Traceyport|   Madison|    Bryant|         800|      Male| 34|       58110.13|                 5|                 2|  No|      NULL|          7696.55|2020-04-06|      NULL|
|2238|   4470.88|      5612.8|Doctor, general p...|    North Heather|   Zachary|     Patel|         629|    Female| 64|       39241.48|                 3|                 8|NULL|        No|          9224.84|2019-03-08|      NULL|
|6116|    1640.4|      2141.5|Building services...| Lake Ashleyville| Alexander|  Mcdonald|         791|    Female| 51|       63856.25|                 2|                 4| Yes|      NULL|           2591.3|2014-06-23|      NULL|
|8573|   6199.64|     8131.24|Psychologist, cou...|  New Rachelmouth|    Cheryl|   Jenkins|         676|      Male| 79|       36807.49|                 1|                 5|  No|      NULL|          4966.57|2014-06-20|2019-02-25|
|8856|   6336.75|     8087.31|   Film/video editor|       Lake Nancy|    Robert|       Cox|         677|Non-Binary| 62|        6243.33|                 5|                 7|  No|        No|          1227.31|2020-02-15|      NULL|
|4511|   7962.19|     9885.29|    Therapist, drama|      Waltersland|    Pamela|  Bradford|         601|Non-Binary| 35|        96430.4|                 1|                10|  No|        No|          2492.43|2022-01-14|      NULL|
|1607|   7366.72|     8561.65|Chartered accountant|    Lake Veronica|    Robert|      Kerr|         743|    Female| 66|       86348.64|                 2|                 8|  No|        No|          9438.72|2021-01-17|2023-06-16|
|3665|   7013.01|     9234.81|Scientist, produc...|      West Andrew|  Kimberly|  Robinson|         755|    Female| 56|       38763.07|                 1|                 1|NULL|      NULL|          8501.45|2022-10-10|      NULL|
|4309|   1572.96|     2020.52|Education officer...|South Rebeccaland|      Mark|   Jackson|         655|    Female| 51|       61833.66|                 1|                 4|  No|       Yes|          5770.78|2020-06-20|      NULL|
|9125|   7601.29|    10668.29|Engineer, broadca...|      Philipmouth|   Stanley|     Drake|         835|      Male| 62|       13386.03|                 3|                 3|  No|        No|          3733.62|2018-11-20|      NULL|
|9101|   5119.95|     5982.53|Administrator, lo...|    East Mollyton|       Ian|    Cannon|         636|      Male| 26|       30943.12|                 2|                 5| Yes|       Yes|          8169.83|2018-04-04|2020-12-04|
+----+----------+------------+--------------------+-----------------+----------+----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
only showing top 20 rows

In [ ]:
df.filter(col('Credit Score') > 600).orderBy("Net Salary", ascending=True).show()

+----+----------+------------+--------------------+-----------------+----------+----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|Code|Net Salary|Gross Salary|          Occupation|             City|First Name| Last Name|Credit Score|    Gender|Age|Account Balance|Number of Accounts|Number of Products|Loan|Investment|Credit Card Limit|Start Date|  End Date|
+----+----------+------------+--------------------+-----------------+----------+----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|3664|   1500.08|     1931.69|      Therapist, art| South Jaclynfurt|     Jason|     Cross|         706|      Male| 71|       22792.95|                 3|                 1|NULL|      NULL|          5694.09|2019-07-10|      NULL|
|5936|   1500.18|     1798.18|      Prison officer|        Paulmouth|  Jennifer| Christian|         732|    Female| 71|       34256.03|                 3|                 7|  No|      NULL|           6427.2|2022-07-24|2022-11-18|
|3112|   1500.22|     1866.99|Aeronautical engi...|      Melissaland|     Jenna|     Moore|         639|      Male| 73|       12007.31|                 2|                 6|  No|       Yes|          4099.65|2022-02-25|2023-04-29|
|2696|   1500.24|     2016.17|         Optometrist|    Port Brittany|      Toni|     Hicks|         783|      Male| 24|       18655.24|                 4|                 4| Yes|       Yes|           8278.0|2018-04-21|2022-01-10|
|7417|   1500.29|     1929.35|Communications en...|      Lake Robert|    Sergio|   Gregory|         815|    Female| 24|        3245.79|                 5|                 9|  No|      NULL|           7875.3|2017-11-15|2019-11-12|
|7264|   1500.29|     1671.02|   Minerals surveyor|        New Keith|      Mary|    Taylor|         612|    Female| 56|       76014.11|                 1|                 7|  No|        No|          1083.67|2017-07-23|2017-09-12|
|3465|   1500.36|     2032.03|Engineer, automotive|        Evansport|     Patty|Cunningham|         630|Non-Binary| 75|       37383.47|                 3|                 4|  No|      NULL|          2256.99|2014-04-04|      NULL|
|7270|    1500.6|     1838.95|Education officer...|    South Michael|     James|    Carter|         767|    Female| 50|       52098.53|                 3|                 2| Yes|       Yes|          2029.42|2017-07-11|      NULL|
|4546|   1500.78|      1991.5|        Estate agent|       West Jacob|     David|  Richards|         776|      Male| 70|       45070.28|                 4|                 4|NULL|        No|          2102.68|2018-05-15|2021-08-02|
|5148|   1500.92|     1955.31|Clinical molecula...|    Kathleenmouth| Dominique|     Cross|         669|Non-Binary| 72|       78217.65|                 5|                10| Yes|        No|          5360.61|2018-08-13|2021-04-09|
|3214|   1500.94|     1984.92|     Records manager|  Christopherside|     Aaron|   Navarro|         633|Non-Binary| 27|       12846.17|                 3|                 1|NULL|      NULL|          9823.46|2020-02-16|      NULL|
|6888|   1500.95|     2103.25|Biochemist, clinical|       Port Shawn|      Mary|      Rice|         737|      Male| 60|       91107.47|                 1|                 7|  No|        No|          9077.89|2021-07-27|      NULL|
|7092|   1501.04|     1877.67| Automotive engineer|    Gonzalezmouth|      Sean|  Stephens|         673|    Female| 42|       41456.05|                 4|                 2|  No|       Yes|          8576.06|2018-01-18|      NULL|
|2213|   1501.06|     1671.78|Travel agency man...|        Port Mary|   Barbara|      King|         711|    Female| 68|        7400.06|                 3|                 3| Yes|      NULL|          2241.37|2019-05-17|      NULL|
|5566|   1501.13|     1942.74|    Location manager|   Contrerasshire|   Matthew|     Ellis|         641|    Female| 18|       58911.21|                 2|                 4|  No|       Yes|          2645.69|2021-08-13|      NULL|
|7145|   1501.23|     2050.47| Production engineer|       Port Glenn|  Victoria|   Andrews|         722|Non-Binary| 49|       81783.67|                 5|                 5|  No|      NULL|          4290.53|2021-05-19|      NULL|
|8589|   1501.45|     2020.65|   Film/video editor|   Padillaborough|    Robert| Dominguez|         703|Non-Binary| 57|         295.54|                 4|                10|  No|      NULL|          2336.38|2018-03-24|      NULL|
|4182|    1501.6|     1756.22|Engineer, mainten...|      Wallaceview|    Morgan|      Lara|         613|    Female| 79|       86630.36|                 4|                 3|NULL|      NULL|          8679.38|2022-05-04|      NULL|
|4854|   1501.68|     2126.89|Senior tax profes...|New Patriciaburgh|     Ruben| Stevenson|         677|      Male| 43|       83188.24|                 3|                 1|  No|       Yes|          5978.07|2021-01-21|2023-09-09|
|3937|   1501.68|     2131.95|Research scientis...|     South Amanda|   Brandon|     Moore|         622|    Female| 65|       31260.17|                 4|                10| Yes|      NULL|          7977.95|2015-01-08|2023-07-07|
+----+----------+------------+--------------------+-----------------+----------+----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
only showing top 20 rows

In [ ]:
df.filter((col('Credit Score') > 600) & (col('Occupation') == 'Medical secretary')).orderBy("Net Salary", ascending=True).show()

+----+----------+------------+-----------------+-----------------+----------+----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|Code|Net Salary|Gross Salary|       Occupation|             City|First Name| Last Name|Credit Score|    Gender|Age|Account Balance|Number of Accounts|Number of Products|Loan|Investment|Credit Card Limit|Start Date|  End Date|
+----+----------+------------+-----------------+-----------------+----------+----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|1676|   1677.75|     1867.66|Medical secretary|        Evanstown|    Travis|    George|         766|    Female| 58|       76206.02|                 3|                 3| Yes|      NULL|          4342.15|2021-07-23|      NULL|
|9013|   1721.94|     2235.15|Medical secretary|Port Michellefurt|     Jamie|  Morrison|         791|    Female| 61|        4662.73|                 2|                 8|NULL|      NULL|          2160.99|2018-08-18|      NULL|
|9314|   1769.63|     2024.72|Medical secretary|  South Shanefurt|   Cynthia|Richardson|         848|Non-Binary| 52|        9065.07|                 4|                 6| Yes|       Yes|          9312.14|2014-12-03|      NULL|
|6923|   1860.61|     2302.69|Medical secretary|     West Vincent|   Richard|  Cummings|         801|Non-Binary| 22|       27164.39|                 1|                 2|NULL|       Yes|          4589.41|2018-03-20|      NULL|
|8691|   1864.02|     2113.19|Medical secretary|     Atkinsonport|     Tammy|    Flores|         633|    Female| 73|        13249.5|                 5|                 7|  No|       Yes|          9916.97|2020-09-23|2021-07-07|
|6412|    1887.4|     2660.58|Medical secretary|      Lynnchester|    Alyssa|   Simmons|         774|      Male| 24|       46741.94|                 3|                 6|  No|        No|           743.68|2018-12-15|      NULL|
|5960|   2002.03|     2661.48|Medical secretary|  East Josephberg|      Brad|  Roberson|         608|      Male| 35|       97371.03|                 3|                 3|  No|       Yes|           9309.9|2020-09-14|2022-09-02|
|7657|   2022.71|     2481.65|Medical secretary|      Natashafurt|  Jennifer|     Riley|         681|      Male| 73|       85928.99|                 5|                 7|NULL|        No|          9572.31|2016-02-02|      NULL|
|8804|    2026.5|     2333.92|Medical secretary|     Lake Brianna|     Molly|    Morrow|         809|    Female| 73|       93484.46|                 5|                 3| Yes|       Yes|          9137.67|2015-11-11|      NULL|
|4975|    2081.4|     2892.36|Medical secretary|     Smithchester|      Chad|   Ramirez|         850|    Female| 42|       86781.43|                 3|                 7|  No|      NULL|           3705.9|2014-04-11|      NULL|
|6481|   2106.91|     2890.73|Medical secretary| Port Crystalland|    Robert|   Pearson|         741|    Female| 55|       95932.52|                 5|                 5|NULL|       Yes|          6208.39|2023-01-22|      NULL|
|9349|   2222.59|     3027.22|Medical secretary|   West Brentside|  Charlene|  Bartlett|         702|      Male| 78|       48295.33|                 3|                 7|  No|      NULL|          1531.87|2014-06-14|      NULL|
|8191|   2250.23|     3074.68|Medical secretary|     Carlsonhaven|    Steven| Alexander|         759|    Female| 26|        55901.8|                 4|                 9|  No|        No|          5214.65|2016-12-29|      NULL|
|1159|   2290.87|     2748.18|Medical secretary|     Lake Tiffany|     Laura|   Garrett|         620|      Male| 21|       13645.57|                 5|                 5|NULL|       Yes|          5210.77|2019-07-21|      NULL|
|9987|   2328.39|     2700.23|Medical secretary|         Anneland|      John|   Fleming|         640|    Female| 78|       81470.57|                 1|                 5|NULL|      NULL|          9310.54|2022-07-02|2023-03-02|
|1857|    2370.1|     2642.88|Medical secretary|       Brooksberg|   Krystal|     Meyer|         792|Non-Binary| 69|       41413.76|                 5|                 7|  No|        No|           555.53|2019-04-22|2020-08-24|
|2262|   2407.46|     2728.61|Medical secretary|        Wardshire|     Kerry|      Bush|         652|    Female| 74|        56108.4|                 5|                 1|NULL|        No|          5584.28|2014-07-22|2023-06-21|
|3074|   2430.33|     3159.22|Medical secretary|        Lewisfort|     Peter|   Jackson|         805|Non-Binary| 73|       87242.65|                 3|                 4| Yes|        No|          7336.13|2016-09-12|      NULL|
|8808|   2433.04|     3243.33|Medical secretary|     Edwardsshire|     Haley|    Hebert|         628|    Female| 31|       61611.74|                 2|                 4|NULL|      NULL|          3939.82|2023-01-07|2023-06-16|
|4307|    2442.3|      2746.1|Medical secretary|       Wagnerbury|     James| Rodriguez|         613|Non-Binary| 36|       37059.66|                 2|                 9|NULL|      NULL|          2270.03|2020-12-12|2023-10-25|
+----+----------+------------+-----------------+-----------------+----------+----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
only showing top 20 rows

In [ ]:
df.filter((col('Credit Score') > 600) & (col('Occupation') == 'Therapist'))\
  .orderBy("Net Salary", ascending=True)\
  .show()

+----+----------+------------+----------+----+----------+---------+------------+------+---+---------------+------------------+------------------+----+----------+-----------------+----------+--------+
|Code|Net Salary|Gross Salary|Occupation|City|First Name|Last Name|Credit Score|Gender|Age|Account Balance|Number of Accounts|Number of Products|Loan|Investment|Credit Card Limit|Start Date|End Date|
+----+----------+------------+----------+----+----------+---------+------------+------+---+---------------+------------------+------------------+----+----------+-----------------+----------+--------+
+----+----------+------------+----------+----+----------+---------+------------+------+---+---------------+------------------+------------------+----+----------+-----------------+----------+--------+

In [ ]:
df.filter(col('Occupation').like('%Therapist%')).show()

+----+----------+------------+--------------------+----------------+----------+---------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|Code|Net Salary|Gross Salary|          Occupation|            City|First Name|Last Name|Credit Score|    Gender|Age|Account Balance|Number of Accounts|Number of Products|Loan|Investment|Credit Card Limit|Start Date|  End Date|
+----+----------+------------+--------------------+----------------+----------+---------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|4511|   7962.19|     9885.29|    Therapist, drama|     Waltersland|    Pamela| Bradford|         601|Non-Binary| 35|        96430.4|                 1|                10|  No|        No|          2492.43|2022-01-14|      NULL|
|4584|   4610.18|     5991.82|Therapist, hortic...|     West Leslie|  Patricia| Friedman|         605|Non-Binary| 26|       24566.57|                 3|                 4|  No|       Yes|          6048.67|2022-11-18|      NULL|
|4685|    3979.2|     5550.57|Therapist, hortic...|      Laurenside|      John|     Best|         533|Non-Binary| 71|       23167.27|                 5|                 7| Yes|      NULL|           719.71|2016-07-30|2023-06-29|
|4428|   5656.34|     7313.51|   Therapist, sports|       Lindafort|     Scott|    Hardy|         850|      Male| 40|         151.55|                 4|                 6| Yes|      NULL|          7862.57|2021-11-07|      NULL|
|6503|   6828.58|      9616.8|    Therapist, drama|    New Adamview|    Amanda|   Parker|         436|      Male| 31|       53341.34|                 4|                 2| Yes|       Yes|          5929.34|2019-11-29|      NULL|
|4625|   8757.08|     9960.43|Therapist, occupa...|   Maloneborough|     Brian|Hernandez|         385|      Male| 18|       78509.62|                 5|                 5|  No|        No|          9353.95|2020-09-23|      NULL|
|8404|   4690.31|     5839.13|      Therapist, art|   Stephanieberg|     Kylie|   Wilson|         819|Non-Binary| 39|        61138.5|                 4|                 7|NULL|        No|          5154.73|2017-01-22|2018-01-30|
|6111|   2743.02|     3121.05|Therapist, hortic...|    North Ashlee|   Richard|   Guzman|         629|      Male| 71|        3753.98|                 4|                 1| Yes|        No|          2707.85|2023-01-30|      NULL|
|3719|    8029.2|     9969.69|Therapist, hortic...|    Lake Patrick|      Seth|  Marquez|         734|      Male| 56|       85419.17|                 4|                 9| Yes|       Yes|          5307.87|2016-04-14|2024-03-30|
|5150|   4147.64|     4845.31|Therapist, occupa...|Lake Williambury|    Angela|    Young|         715|    Female| 48|       84933.64|                 5|                 5| Yes|      NULL|          7786.03|2017-10-14|2019-04-15|
|4812|   5357.67|     6722.32|Therapist, occupa...|    Wolfechester|     Susan|     Shaw|         715|Non-Binary| 20|       76639.26|                 3|                 3|  No|      NULL|          7940.14|2021-11-20|      NULL|
|6884|   7877.73|     8893.08|    Therapist, music|     Joannaville|    Jeremy|   Morgan|         780|      Male| 52|       59951.81|                 3|                 5|NULL|        No|          3868.79|2019-06-08|2020-06-07|
|2382|   8106.68|    10774.33|      Therapist, art|    North Eugene|   Tiffany|   Wilson|         355|      Male| 67|        65598.7|                 3|                 3| Yes|        No|           6768.6|2019-04-22|      NULL|
|4109|   2853.87|      3307.9|    Therapist, music|     Elliottside|       Lee|   Taylor|         647|      Male| 51|       54555.03|                 3|                 1| Yes|       Yes|          6244.21|2020-02-10|2023-04-30|
|9935|   2717.27|     3056.21|      Therapist, art|       West Seth|   Anthony|    Davis|         337|    Female| 29|        5893.91|                 2|                10|  No|        No|          3451.79|2020-07-06|2021-12-29|
|9044|   2826.05|     3413.42|   Therapist, sports|     West Alicia|     Mason|    Lyons|         752|    Female| 62|       95185.01|                 4|                 7|NULL|        No|          6153.88|2020-08-06|      NULL|
|5952|   8160.24|     9360.54|      Therapist, art|     Teresaburgh|     Kerri|    Moore|         389|      Male| 22|       20421.72|                 5|                 8|  No|       Yes|          6256.28|2016-05-16|      NULL|
|6212|   3845.63|      4587.8|Therapist, hortic...|     South James|    Brenda|    Hardy|         405|      Male| 57|       19622.01|                 3|                 6|  No|       Yes|           9294.8|2023-02-20|      NULL|
|5475|   4499.04|     6010.99|      Therapist, art|   South Anthony|   Patrick|     Hall|         686|      Male| 53|        80652.9|                 2|                 2| Yes|        No|          4509.63|2016-06-07|      NULL|
|1353|    8053.7|     10450.1|Therapist, nutrit...|   New Kevinview|    Victor|     Soto|         372|    Female| 70|       24493.07|                 2|                 4|  No|       Yes|          4506.33|2014-11-18|      NULL|
+----+----------+------------+--------------------+----------------+----------+---------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
only showing top 20 rows

In [ ]:
df.filter(col('Occupation').like('%Therapist%art')).show()

+----+----------+------------+--------------+--------------------+----------+---------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|Code|Net Salary|Gross Salary|    Occupation|                City|First Name|Last Name|Credit Score|    Gender|Age|Account Balance|Number of Accounts|Number of Products|Loan|Investment|Credit Card Limit|Start Date|  End Date|
+----+----------+------------+--------------+--------------------+----------+---------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|8404|   4690.31|     5839.13|Therapist, art|       Stephanieberg|     Kylie|   Wilson|         819|Non-Binary| 39|        61138.5|                 4|                 7|NULL|        No|          5154.73|2017-01-22|2018-01-30|
|2382|   8106.68|    10774.33|Therapist, art|        North Eugene|   Tiffany|   Wilson|         355|      Male| 67|        65598.7|                 3|                 3| Yes|        No|           6768.6|2019-04-22|      NULL|
|9935|   2717.27|     3056.21|Therapist, art|           West Seth|   Anthony|    Davis|         337|    Female| 29|        5893.91|                 2|                10|  No|        No|          3451.79|2020-07-06|2021-12-29|
|5952|   8160.24|     9360.54|Therapist, art|         Teresaburgh|     Kerri|    Moore|         389|      Male| 22|       20421.72|                 5|                 8|  No|       Yes|          6256.28|2016-05-16|      NULL|
|5475|   4499.04|     6010.99|Therapist, art|       South Anthony|   Patrick|     Hall|         686|      Male| 53|        80652.9|                 2|                 2| Yes|        No|          4509.63|2016-06-07|      NULL|
|9364|   4120.98|     5648.74|Therapist, art|           Moranberg|    Dennis|   Harris|         432|Non-Binary| 30|       28547.11|                 3|                 1| Yes|        No|          6231.58|2020-09-14|2020-10-21|
|5263|    2977.3|     4003.38|Therapist, art|    South Richardton|     Brian|  Walters|         800|      Male| 26|       47988.44|                 2|                 8|NULL|        No|          8814.72|2020-12-08|      NULL|
|4524|   9220.04|    12102.34|Therapist, art|        Lake Patrick|    Joshua|     King|         590|Non-Binary| 76|       72905.33|                 5|                 7| Yes|        No|          6255.71|2020-06-25|2023-06-25|
|6633|   5442.76|     6512.52|Therapist, art|          Allenmouth|  Nicholas|   Dillon|         407|      Male| 60|       63637.84|                 1|                 7|  No|      NULL|          2250.27|2015-06-18|      NULL|
|1137|   7115.76|     8969.85|Therapist, art|North Stephanieburgh|   Kathryn|      Fox|         712|Non-Binary| 64|        9369.56|                 4|                10|NULL|      NULL|          2821.96|2021-06-26|      NULL|
|7454|   5012.38|     6703.29|Therapist, art|    Port Alexisshire|     Jamie|   Jordan|         544|    Female| 62|       45939.26|                 2|                 7| Yes|        No|           904.24|2021-04-07|      NULL|
|9830|   1832.31|     2075.05|Therapist, art|         Port Olivia|      Mark|  Edwards|         738|Non-Binary| 36|       62078.97|                 3|                 8| Yes|        No|          1327.41|2019-05-08|      NULL|
|5767|   3554.08|     4286.56|Therapist, art|         Robertsport|   Stephen|   Miller|         705|Non-Binary| 79|        6051.05|                 1|                 7| Yes|      NULL|           3696.7|2018-01-31|      NULL|
|5472|   9527.54|    10891.58|Therapist, art|           Harryfort|    Tracey|     Knox|         592|Non-Binary| 51|       65746.54|                 5|                 2|  No|      NULL|          8580.23|2016-10-24|      NULL|
|6597|   3110.55|     4212.55|Therapist, art|         Lake Morgan|      Tony|  Freeman|         445|      Male| 24|       26794.49|                 1|                 3|  No|      NULL|          1011.69|2018-07-01|2022-05-11|
|4491|   3387.45|     4140.78|Therapist, art|         Bryantshire|    Angela| Cisneros|         607|      Male| 49|       41245.88|                 2|                 7|  No|        No|          6235.61|2019-10-15|      NULL|
|4550|   7004.77|     9883.51|Therapist, art|           Youngtown|     Craig|     Ward|         416|      Male| 30|       39158.41|                 3|                 7|NULL|       Yes|          3417.29|2021-04-21|      NULL|
|2244|    3652.7|     4770.91|Therapist, art|           Port Sara|   Valerie|    Clark|         567|      Male| 38|       22468.14|                 1|                 9|  No|        No|           994.84|2021-02-24|      NULL|
|2636|   7763.03|     9693.63|Therapist, art|           Jasonland|   Richard|  Salazar|         319|Non-Binary| 59|       17510.77|                 2|                 5| Yes|       Yes|          3959.84|2018-10-22|      NULL|
|2479|   8625.56|     9900.36|Therapist, art|    West Ericborough|      Jose|   Burton|         367|    Female| 36|        7848.88|                 3|                 6|NULL|        No|           929.93|2020-06-11|2021-06-05|
+----+----------+------------+--------------+--------------------+----------+---------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
only showing top 20 rows

In [ ]:
df.filter((col('Credit Score') > 600).like('%Therapist%art')).show()

+----+----------+------------+----------+----+----------+---------+------------+------+---+---------------+------------------+------------------+----+----------+-----------------+----------+--------+
|Code|Net Salary|Gross Salary|Occupation|City|First Name|Last Name|Credit Score|Gender|Age|Account Balance|Number of Accounts|Number of Products|Loan|Investment|Credit Card Limit|Start Date|End Date|
+----+----------+------------+----------+----+----------+---------+------------+------+---+---------------+------------------+------------------+----+----------+-----------------+----------+--------+
+----+----------+------------+----------+----+----------+---------+------------+------+---+---------------+------------------+------------------+----+----------+-----------------+----------+--------+

**Obs**: A função like não pode ser aplicada diretamente a uma expressão como col('Credit Score') > 600, pois like é uma função para testar se uma coluna de string contém um padrão específico. A função like é usada para filtrar strings com base em padrões de caracteres, onde % é um curinga que representa zero ou mais caracteres e _ representa exatamente um caractere.

Quando você usa col('Credit Score') > 600, isso gera uma expressão booleana, não uma string, então não faz sentido usar like diretamente com isso.

A função like deve ser usada em colunas de string, como você fez corretamente com col('Occupation'). Quando você usa col('Occupation').like('%Therapist%'), está verificando se a coluna Occupation contém a string "Therapist" em qualquer parte da sua string, usando % como um curinga para representar qualquer número de caracteres (inclusive nenhum) antes e depois de "Therapist".

In [ ]:
df.filter((col('Credit Score') > 600) & (col('Occupation').like('%Therapist%art')))\
  .orderBy("Net Salary", ascending=False)\
  .show()

+----+----------+------------+--------------+------------------+----------+----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|Code|Net Salary|Gross Salary|    Occupation|              City|First Name| Last Name|Credit Score|    Gender|Age|Account Balance|Number of Accounts|Number of Products|Loan|Investment|Credit Card Limit|Start Date|  End Date|
+----+----------+------------+--------------+------------------+----------+----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|1329|   9748.73|    11916.03|Therapist, art|          Haleland|     James|     Foley|         821|      Male| 72|        9698.23|                 3|                10|  No|        No|          5792.08|2021-01-01|      NULL|
|5654|    9715.0|     12272.9|Therapist, art|       Ashleeburgh|   Colleen|  Martinez|         672|    Female| 23|       36850.69|                 2|                 4|NULL|       Yes|          9055.71|2021-10-03|      NULL|
|6688|   9604.36|    12013.51|Therapist, art|    Lake Elizabeth|   Tiffany|  Williams|         637|    Female| 75|       55713.45|                 5|                 8| Yes|       Yes|          7780.08|2021-12-27|      NULL|
|9453|   9468.19|    11147.06|Therapist, art|    Rodriguezhaven|      Kyle|    Wilson|         760|    Female| 47|        46536.0|                 2|                 1|  No|       Yes|          8147.59|2021-09-04|2023-11-08|
|6654|   9400.85|    10982.26|Therapist, art|         Blakefort|      Sara|    Haynes|         678|Non-Binary| 42|       25421.22|                 1|                 7|NULL|       Yes|          5369.27|2022-11-30|2023-10-28|
|5047|   9345.06|    11524.27|Therapist, art|       Johnsonstad|     Peter|Strickland|         627|    Female| 69|       22763.96|                 1|                 1| Yes|        No|           646.41|2021-09-09|2023-12-02|
|8851|   9199.78|    10805.83|Therapist, art|North Stephenburgh|   Deborah|   Wilkins|         779|      Male| 72|       37178.83|                 5|                 7| Yes|       Yes|          5796.78|2016-10-09|      NULL|
|2994|    9151.1|    10299.29|Therapist, art|         New Jerry|   Matthew|      Neal|         616|      Male| 19|       56553.95|                 3|                 4|NULL|      NULL|          4288.63|2017-12-17|      NULL|
|9986|   8995.05|    12288.81|Therapist, art|  East Nicolemouth|      Mark|     Tyler|         836|Non-Binary| 31|       99046.27|                 4|                10|NULL|       Yes|          4714.88|2020-08-24|      NULL|
|7658|   8908.84|    11898.63|Therapist, art|     Petersonville| Elizabeth|  Williams|         791|      Male| 71|        3949.73|                 4|                 7|NULL|       Yes|          3863.41|2021-12-21|      NULL|
|6062|   8869.19|    10883.51|Therapist, art|      North Amanda|     Laura|  Anderson|         750|    Female| 23|       45052.17|                 1|                 1|  No|      NULL|          2251.25|2015-03-03|      NULL|
|7756|   8804.18|     11965.9|Therapist, art|  West Jessicaside|     James|     Scott|         637|Non-Binary| 45|       87263.81|                 1|                 5| Yes|      NULL|          3887.71|2020-01-02|2020-11-21|
|3964|   8780.69|    11356.14|Therapist, art|    Lake Annamouth|   Kenneth|    Campos|         795|    Female| 51|       30273.59|                 3|                 9|NULL|       Yes|           2169.5|2017-04-12|      NULL|
|9476|   8760.45|    10199.65|Therapist, art|New Williamchester|       Mia|    Taylor|         754|Non-Binary| 69|       28985.73|                 5|                 1|NULL|       Yes|          8252.44|2017-01-07|2018-02-14|
|4943|   8732.87|    10202.35|Therapist, art|         Wayneside|      Kyle|  Griffith|         837|    Female| 38|       40237.26|                 4|                 6|NULL|       Yes|          5112.09|2020-12-03|      NULL|
|9724|    8729.8|     11883.8|Therapist, art|       Lake Amanda|     David|      Hale|         734|      Male| 72|       79771.06|                 1|                 4| Yes|       Yes|          7612.06|2018-06-05|      NULL|
|9978|   8712.13|    11539.35|Therapist, art|        Kevinhaven|   Jessica|    Arnold|         778|    Female| 71|       62611.61|                 5|                 8| Yes|      NULL|          8875.19|2014-11-22|2023-11-20|
|5998|   8456.41|    11136.86|Therapist, art|      South Angela| Stephanie|      Ward|         770|    Female| 31|       66343.84|                 2|                 5| Yes|       Yes|          6788.36|2023-03-14|      NULL|
|1694|   8372.52|     9459.65|Therapist, art|          Lisaview|     Emily|     Hayes|         721|    Female| 75|       32073.01|                 3|                 4|NULL|       Yes|          2120.57|2015-02-15|2018-05-11|
|9265|   8331.85|    11155.69|Therapist, art|     South Krystal|       Guy|    Ramsey|         635|Non-Binary| 53|       66003.78|                 5|                 6|NULL|       Yes|          4616.31|2020-06-02|2023-02-03|
+----+----------+------------+--------------+------------------+----------+----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
only showing top 20 rows

In [ ]:
# Registrar o DataFrame como uma tabela temporária
df.createOrReplaceTempView("tabela_csv")

# Executar consulta SQL para filtrar pela coluna 'Age'
resultado = spark.sql("SELECT * FROM tabela_csv WHERE Age > 30")

# Exibir o resultado da consulta
resultado.show()

+----+----------+------------+--------------------+------------------+----------+-----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|Code|Net Salary|Gross Salary|          Occupation|              City|First Name|  Last Name|Credit Score|    Gender|Age|Account Balance|Number of Accounts|Number of Products|Loan|Investment|Credit Card Limit|Start Date|  End Date|
+----+----------+------------+--------------------+------------------+----------+-----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|7144|   7891.33|    10255.14|              Lawyer|          Reedfort|      Kurt|      Huang|         694|      Male| 32|       52481.75|                 5|                10|NULL|       Yes|           1844.6|2020-04-24|      NULL|
|6596|   3632.26|     4079.33| Automotive engineer|      Lake Bridget|      Lisa|Blankenship|         440|Non-Binary| 49|       32122.49|                 5|                 3|NULL|        No|          1083.45|2021-06-23|2023-02-07|
|5816|   6905.21|     9115.37|Research officer,...|      East Michael|  Kimberly|    Bennett|         323|    Female| 54|       50154.69|                 5|                 5|NULL|      NULL|          2300.09|2018-07-20|      NULL|
|3477|   6457.93|     8596.56|       Site engineer|      Veronicaberg|   Michele|     Massey|         356|    Female| 54|       93938.59|                 5|                 1|  No|      NULL|          9673.54|2020-12-26|2021-06-07|
|3454|   2066.27|     2449.17|Chartered legal e...|          Nealbury|    Teresa|      Moore|         610|Non-Binary| 57|       86671.28|                 1|                 8|  No|      NULL|          6946.54|2021-04-04|2022-08-06|
|2602|    6688.5|     9423.67|        Tour manager|        Jonesshire|     April|   Cisneros|         517|    Female| 45|       86634.23|                 3|                 3|NULL|      NULL|          6898.68|2022-08-20|2022-08-23|
|3908|    4382.2|     6249.17|Agricultural engi...|    New Aaronshire|   Kristen|        Cox|         456|    Female| 49|       21304.41|                 4|                 6|  No|      NULL|           625.13|2015-09-26|      NULL|
|7519|   5721.01|     6510.69| Animal technologist|         Masonview|    Hannah|       Carr|         499|Non-Binary| 33|       87873.68|                 4|                 6|NULL|      NULL|          9015.89|2015-11-19|2023-11-27|
|7690|    8008.5|    10317.23|   Buyer, industrial|       Jacksonview|   Gregory|   Anderson|         781|    Female| 61|       52182.09|                 1|                 9| Yes|      NULL|           5977.4|2017-12-10|      NULL|
|9141|    4851.3|     6291.01|Accountant, chart...|       East Robert|   Stephen|      Dixon|         796|      Male| 44|         2726.8|                 5|                 1| Yes|        No|          5580.01|2015-03-05|      NULL|
|5191|   8612.57|     9972.14|      Hydrogeologist|West Jenniferburgh|     David|      Crane|         588|    Female| 68|        7771.48|                 5|                 5| Yes|        No|          2850.54|2020-10-25|      NULL|
|2130|   9370.88|    12386.67|           Archivist|        Smithburgh|    Joseph|       Reed|         720|Non-Binary| 62|       65557.46|                 1|                 3| Yes|        No|          2520.86|2015-07-07|      NULL|
|5825|   3908.33|     5498.91|Historic building...| Lake Jonathanstad|     Kevin| Williamson|         650|    Female| 68|       95845.02|                 5|                 7| Yes|        No|          2858.87|2020-01-30|      NULL|
|1668|   9029.44|     10653.6|       Acupuncturist|       Sandramouth|  Brittany|      Terry|         799|      Male| 64|       84321.44|                 4|                 6|  No|      NULL|          3036.32|2019-01-05|      NULL|
|2031|   8691.82|     9901.62|     Theatre manager|        Traceyport|   Madison|     Bryant|         800|      Male| 34|       58110.13|                 5|                 2|  No|      NULL|          7696.55|2020-04-06|      NULL|
|2238|   4470.88|      5612.8|Doctor, general p...|     North Heather|   Zachary|      Patel|         629|    Female| 64|       39241.48|                 3|                 8|NULL|        No|          9224.84|2019-03-08|      NULL|
|6116|    1640.4|      2141.5|Building services...|  Lake Ashleyville| Alexander|   Mcdonald|         791|    Female| 51|       63856.25|                 2|                 4| Yes|      NULL|           2591.3|2014-06-23|      NULL|
|8573|   6199.64|     8131.24|Psychologist, cou...|   New Rachelmouth|    Cheryl|    Jenkins|         676|      Male| 79|       36807.49|                 1|                 5|  No|      NULL|          4966.57|2014-06-20|2019-02-25|
|5293|    2594.9|     3391.16|        Web designer|  South Robertbury|     Laura|     Torres|         329|Non-Binary| 73|        8332.97|                 1|                 3| Yes|       Yes|          9095.81|2020-06-03|2021-02-16|
|6363|   8363.48|     9938.75|Communications en...|     Port Michaela|  Jennifer|      Davis|         437|Non-Binary| 65|       78717.75|                 1|                 4|  No|        No|          8844.58|2023-03-26|      NULL|
+----+----------+------------+--------------------+------------------+----------+-----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
only showing top 20 rows

In [ ]:
# Registrar o DataFrame como uma tabela temporária
#df.createOrReplaceTempView("tabela_csv")

# Executar consulta SQL utilizando a cláusula LIKE para filtrar cidades que contêm 'Lake' no nome
resultado1 = spark.sql("SELECT * FROM tabela_csv WHERE City LIKE '%Lake%'")

# Exibir o resultado da consulta
resultado1.show()

+----+----------+------------+--------------------+------------------+----------+-----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|Code|Net Salary|Gross Salary|          Occupation|              City|First Name|  Last Name|Credit Score|    Gender|Age|Account Balance|Number of Accounts|Number of Products|Loan|Investment|Credit Card Limit|Start Date|  End Date|
+----+----------+------------+--------------------+------------------+----------+-----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
|6596|   3632.26|     4079.33| Automotive engineer|      Lake Bridget|      Lisa|Blankenship|         440|Non-Binary| 49|       32122.49|                 5|                 3|NULL|        No|          1083.45|2021-06-23|2023-02-07|
|5825|   3908.33|     5498.91|Historic building...| Lake Jonathanstad|     Kevin| Williamson|         650|    Female| 68|       95845.02|                 5|                 7| Yes|        No|          2858.87|2020-01-30|      NULL|
|6116|    1640.4|      2141.5|Building services...|  Lake Ashleyville| Alexander|   Mcdonald|         791|    Female| 51|       63856.25|                 2|                 4| Yes|      NULL|           2591.3|2014-06-23|      NULL|
|8856|   6336.75|     8087.31|   Film/video editor|        Lake Nancy|    Robert|        Cox|         677|Non-Binary| 62|        6243.33|                 5|                 7|  No|        No|          1227.31|2020-02-15|      NULL|
|1607|   7366.72|     8561.65|Chartered accountant|     Lake Veronica|    Robert|       Kerr|         743|    Female| 66|       86348.64|                 2|                 8|  No|        No|          9438.72|2021-01-17|2023-06-16|
|4627|   4896.25|     5688.18|   Medical physicist|        Lake David|    Joshua|       Meza|         453|      Male| 58|       62805.21|                 5|                 1|  No|        No|          9229.18|2020-07-22|      NULL|
|6996|   3064.14|     3886.17|Advertising accou...|      Lake Stephen|    Jerome|    Shaffer|         590|Non-Binary| 59|       30068.18|                 2|                 6| Yes|        No|          1638.42|2014-10-08|2023-03-03|
|3743|   9310.69|    10946.28|Air traffic contr...|   Lake Jamieville|   Lindsay|    Johnson|         684|      Male| 52|        7165.76|                 4|                 1|  No|      NULL|          6923.97|2014-08-12|      NULL|
|9143|   3419.91|     4634.07|Clinical molecula...|Lake Alexandraland|    Edward|       Hall|         728|Non-Binary| 47|         736.86|                 5|                 6|NULL|        No|          5683.34|2020-07-05|      NULL|
|7195|    2194.6|     2988.79|        Tour manager|     Lake Ryanfurt|     Maria|       Howe|         713|    Female| 26|        8839.62|                 1|                 1|NULL|       Yes|           685.77|2016-03-12|      NULL|
|5047|   8795.73|     9876.93|          Podiatrist|      Lake Erinton|      Todd|     Jordan|         652|Non-Binary| 71|       68478.95|                 2|                10|  No|      NULL|          5878.91|2022-10-17|2024-01-01|
|1062|   8805.93|    12007.24|Teacher, adult ed...|      Lake Melissa|    Joshua|    Goodman|         409|Non-Binary| 20|       36966.76|                 5|                 1|  No|       Yes|          8337.01|2014-08-04|      NULL|
|9301|   9248.51|    12429.02|Race relations of...|       Lake Amanda|   Timothy|   Hamilton|         358|Non-Binary| 65|       73769.48|                 4|                 9|NULL|        No|          7236.49|2018-08-23|      NULL|
|1802|   3186.15|     4136.83|             Curator|  Lake Kristentown| Elizabeth|   Mcintyre|         436|Non-Binary| 79|       44190.95|                 2|                 9| Yes|      NULL|          1935.54|2021-12-05|      NULL|
|9948|   2003.98|     2848.11|  Facilities manager|  Lake Abigailland|     Linda|       Cook|         847|Non-Binary| 22|        5987.87|                 1|                 6|  No|      NULL|           2686.3|2020-07-15|      NULL|
|7735|   9007.13|    12243.03|Garment/textile t...| Lake Kimberlyland|    Justin|    Sanchez|         847|Non-Binary| 43|       52373.26|                 2|                 1|NULL|      NULL|          2349.99|2020-04-22|      NULL|
|7993|   1804.96|      2083.1|Civil engineer, c...|   Lake Robertstad|     Sarah|    Gilbert|         486|Non-Binary| 25|       89252.51|                 4|                 5|  No|      NULL|          7775.47|2014-09-05|      NULL|
|3497|   9075.65|    12849.02|Advertising art d...|    Lake Sarahbury|       Tim|   Reynolds|         554|      Male| 65|       83796.08|                 1|                 9|  No|        No|           7750.1|2014-06-13|      NULL|
|4331|   5419.21|     6026.12|      Air cabin crew|   Lake Sandrafurt|      Carl|  Rasmussen|         849|Non-Binary| 26|       36336.01|                 3|                 7| Yes|        No|          2667.52|2016-01-21|      NULL|
|8276|   4205.68|     5290.39|Secretary/adminis...|  Lake Ashleyburgh|  Jennifer|    Sanchez|         666|      Male| 31|       78360.87|                 4|                 8|NULL|       Yes|          6723.92|2015-07-08|      NULL|
+----+----------+------------+--------------------+------------------+----------+-----------+------------+----------+---+---------------+------------------+------------------+----+----------+-----------------+----------+----------+
only showing top 20 rows

## Agrupando dados

In [ ]:
df.groupby('City').avg().show()

+-----------------+------------------+------------------+------------------+-----------------+------------------+--------------------+-----------------------+-----------------------+----------------------+
|             City|         avg(Code)|   avg(Net Salary)| avg(Gross Salary)|avg(Credit Score)|          avg(Age)|avg(Account Balance)|avg(Number of Accounts)|avg(Number of Products)|avg(Credit Card Limit)|
+-----------------+------------------+------------------+------------------+-----------------+------------------+--------------------+-----------------------+-----------------------+----------------------+
|       New Isaiah|            4543.4|          5565.094|          6877.416|            499.4|              48.2|  43884.490000000005|                    2.6|                    3.2|              3817.968|
|    Pattersonberg|            4759.0|          5384.195|         6521.1375|            422.5|              52.0|            50616.47|                   3.25|                   3.75|              7751.405|
|   New Angelaside|            5544.5|           8317.57|           9472.31|            619.5|              58.0|  44900.005000000005|                    2.5|                    4.0|              9419.215|
|    East Territon|            7146.0|           7439.99|           9823.01|            336.0|              77.0|            99646.82|                    2.0|                    1.0|               8456.94|
|    Wilsonchester|           5926.65| 6006.027499999999|         7529.7405|            592.3|             52.45|            47826.67|                   2.85|                    5.4|              5565.516|
|         Alexfurt|            8403.5|          6924.915| 7920.950000000001|            511.5|              52.5|           40985.065|                   1.75|                   7.75|              2246.285|
|    Samanthahaven|3891.6666666666665| 7112.142222222222| 9042.932222222224|542.5555555555555|52.666666666666664|   35575.29111111111|     2.6666666666666665|      4.777777777777778|    2533.9422222222224|
| Port Kennethview|           6003.25| 5432.125000000001|          6590.795|           672.25|             45.75|          83093.6575|                   3.75|                   3.25|               5501.74|
|       Mathewberg|            5422.0| 8334.916666666666|10491.373333333333|540.6666666666666|48.333333333333336|             41373.1|                    4.0|      8.666666666666666|               8412.43|
|   Port Lisaburgh|           5873.25|         6400.7975|         8196.3975|            423.0|              36.5|   57379.41500000001|                   2.75|                    5.0|              7413.175|
|      Lake Joshua| 5912.833333333333| 5990.047727272726|  7571.58212121212|551.6515151515151| 52.84848484848485|   52384.46181818182|      2.484848484848485|      5.378787878787879|     4799.725606060605|
|       Forbestown|            8112.0|           2953.69|           3336.24|            653.0|              36.0|            48053.16|                    1.0|                    1.0|               8591.69|
|      Austinhaven| 5010.307692307692|4916.3099999999995| 6251.296153846154|            618.0| 50.53846153846154|   55198.21923076923|                    3.0|      4.923076923076923|    5531.1469230769235|
|New Jennifershire|            4059.0| 5319.540000000001| 6545.036250000001|          643.875|             51.25|         48562.39875|                    2.5|                   7.25|            5736.84625|
|     East Patrick| 5117.636363636364|          5077.665|  6617.10409090909|594.1818181818181| 57.31818181818182|   56882.92681818181|     2.9545454545454546|     5.2272727272727275|     5034.022272727273|
| West Kennethstad|            3901.0| 6925.836666666667| 8913.166666666666|            602.0|51.333333333333336|   49239.12333333333|     3.3333333333333335|      5.666666666666667|    3526.1366666666668|
|     Kaitlynshire|            6628.0| 5679.253333333333| 7447.126666666667|773.3333333333334|              46.0|   44257.57666666666|                    3.0|      7.666666666666667|     5835.953333333334|
|  East Desireeton|            1730.5|            4108.3|          5247.445|            728.0|              40.0|           56862.925|                    2.0|                    4.0|              8741.385|
|South Carolynberg|            7767.5|          5799.805|          7178.925|            616.0|              28.5|           45588.235|                    4.0|                    3.0|              4395.505|
|       Petersbury|            6284.0| 5619.326666666667| 6808.213333333333|564.6666666666666|54.666666666666664|   69637.43333333333|      4.333333333333333|      7.333333333333333|    6011.2733333333335|
+-----------------+------------------+------------------+------------------+-----------------+------------------+--------------------+-----------------------+-----------------------+----------------------+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import count
grouped_df = df.groupBy("City").agg(count("Code").alias("Total"))
grouped_df.show()

+-----------------+-----+
|             City|Total|
+-----------------+-----+
|       New Isaiah|    5|
|    Pattersonberg|    4|
|   New Angelaside|    2|
|    East Territon|    1|
|    Wilsonchester|   20|
|         Alexfurt|    4|
|    Samanthahaven|    9|
| Port Kennethview|    4|
|       Mathewberg|    3|
|   Port Lisaburgh|    4|
|      Lake Joshua|   66|
|       Forbestown|    1|
|      Austinhaven|   13|
|New Jennifershire|    8|
|     East Patrick|   22|
| West Kennethstad|    3|
|     Kaitlynshire|    3|
|  East Desireeton|    2|
|South Carolynberg|    2|
|       Petersbury|    3|
+-----------------+-----+
only showing top 20 rows

In [ ]:
from pyspark.sql.functions import sum

# Agrupa por Categoria e calcula a soma das vendas
grouped_df = df.groupBy("City").agg(sum("Code").alias("Total"))
grouped_df.show()

+-----------------+------+
|             City| Total|
+-----------------+------+
|       New Isaiah| 22717|
|    Pattersonberg| 19036|
|   New Angelaside| 11089|
|    East Territon|  7146|
|    Wilsonchester|118533|
|         Alexfurt| 33614|
|    Samanthahaven| 35025|
| Port Kennethview| 24013|
|       Mathewberg| 16266|
|   Port Lisaburgh| 23493|
|      Lake Joshua|390247|
|       Forbestown|  8112|
|      Austinhaven| 65134|
|New Jennifershire| 32472|
|     East Patrick|112588|
| West Kennethstad| 11703|
|     Kaitlynshire| 19884|
|  East Desireeton|  3461|
|South Carolynberg| 15535|
|       Petersbury| 18852|
+-----------------+------+
only showing top 20 rows

# Usando funções não nativas

In [ ]:
%run '/content/funcoes.ipynb'

In [ ]:
get_dtype(df,"City")

'string'

In [ ]:
verifica_missing(df, df.columns)

+------------------+------+--------------+-------------+
|Colunas           |Nulos |Strings Vazias|0 ,"0" ou 0.0|
+------------------+------+--------------+-------------+
|Code              |0     |0             |0            |
|Net Salary        |0     |0             |0            |
|Gross Salary      |0     |0             |0            |
|Occupation        |0     |0             |0            |
|City              |0     |0             |0            |
|First Name        |0     |0             |0            |
|Last Name         |0     |0             |0            |
|Credit Score      |0     |0             |0            |
|Gender            |0     |0             |0            |
|Age               |0     |0             |0            |
|Account Balance   |0     |0             |0            |
|Number of Accounts|0     |0             |0            |
|Number of Products|0     |0             |0            |
|Loan              |77127 |0             |0            |
|Investment        |76881 |0             |0            |
|Credit Card Limit |0     |0             |0            |
|Start Date        |0     |0             |0            |
|End Date          |161360|0             |0            |
+------------------+------+--------------+-------------+

In [ ]:
exibe_distribuicao(df, 'Gender')

 Proporção das categorias para o atributo "Gender":
+----------+---------+
|Gender    |proporção|
+----------+---------+
|Non-Binary|33.13    |
|Male      |33.42    |
|Female    |33.46    |
+----------+---------+